<!DOCTYPE html>
<html>
<head>
  <title> Borrow Clothes App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link href="css/login.css" rel="stylesheet">
  <link href="css/notification.css" rel="stylesheet">
  <link href="css/onsenui.css" rel="stylesheet">
  <link href="css/onsen-css-components.css" rel="stylesheet">
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/bootstrap-theme.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

  <link href="css/mystyle.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  <script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-analytics.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-storage.js"></script>
  <script src="js/onsenui.js"></script>
  <script src="js/jquery-1.11.0.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="https://code.jquery.com/jquery.js"></script>
  <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
 
    {{> facebook}}
  <script src="/js/facebook.js"></script>
  <script src="/js/introHCI.js"></script>
  <!-- Google Analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-160669141-1', 'auto');
  ga('require', 'GTM-MGMXH6P');
  ga('send', 'pageview');
  </script>
<!-- End Google Analytics -->
</head>

<body onload="showHomePanel(0)"> 
<!-- Tabbar-bottom -->
<ons-page>
  <ons-tabbar swipeable position="none" >
    <ons-tab page="tab1.html" label="Home" icon="md-home" active></ons-tab>

    <ons-tab page="tab2.html" label="Post" icon="md-plus"></ons-tab>


    <ons-tab page="tab3.html" label="Request" icon="md-globe" onclick="showPanel(0)"></ons-tab>

    
    <ons-tab page="tab4.html" label="My Listing" icon="md-face"></ons-tab>
  </ons-tabbar>
</ons-page>

<!-- Home-tab -->
<template id="tab1.html">
  <ons-page id="Tab1">
    <div class="tabHomeContainer">

      <div class="buttonHomeContainer">
        <button class='homeBts' onclick="showHomePanel(0)">sneakers</button>
        <button class='homeBts' onclick="showHomePanel(1)">tops</button>
        <button class='homeBts' onclick="showHomePanel(2)">bottoms</button>
      </div>
    

    <!-- Sneakers Panel Start -->
    <div class="tabHomePanel">
     <!-- Cover Photo -->
     <div class="jumbotron" style="margin-bottom:0; padding:0">
      <img src="https://media.endclothing.com/end-features/prodfeatures/3adb0f51-56bd-4e48-bc8f-f5473ddb655c_BV0073-101_launches_hero_landscape_1.jpg" class="img-responsive">
    </div>
     <!-- Items -->
      <div class="container" style="padding:0; overflow:hidden;">
        <div class="row">
          {{#each shoes}}
          <div class="col-5" onclick="showDescriptionDialog('{{dialogID}}', '{{index}}')">
              <img src="{{imageURL}}" class="img-responsive">
              <br>
              <h5>{{brand}}</h5>
              <h5>{{item}}</h5>
              <h5 style="color:grey;">{{cost}}</h5>
          </div>

          <!-- Dialog for Clothes -->
          <template id="{{index}}">
            <ons-dialog id="{{dialogID}}">
              <div style="text-align: center; padding: 10px;">
                <!-- Description -->
                <img src="{{imageURL}}" style="max-width: 55%">
                <hr>
                <h5><b>Owner:</b> {{owner}}</h5>
                <h5><b>Item:</b> {{item}}</h5>
                <h5><b>Description:</b> {{description}}</h5>
                <h5><b>Duration:</b> {{duration}}</h5>
                <!-- Buttons -->
                <p>   
                  <!-- Borrow Button -->
                  <ons-button style="background-color: white; color: black;border: 1px solid lightgrey;" onclick="showBorrowDialog('{{borrowDialog}}', '{{borrowTemp}}'), hideDescriptionDialog('{{dialogID}}')">Borrow</ons-button>
                  <!-- Dialog template -->
                  <template id="{{borrowTemp}}">
                    <ons-dialog id="{{borrowDialog}}">
                      <div class="jumbotron bg-warning" style="text-align:center; margin-bottom:0; padding:0">
                        <i class="far fa-check-circle fa-lg"></i>
                      </div>
                      <div class="container" style="text-align:center">
                      <h2>Request Sent!</h2>
                      <h4>Track your requests in <kbd>Request</kbd>.</h4>
                      <br>
                      <button type="button" class="btn btn-outline-secondary btn-lg" onclick="hideBorrowDialog('{{borrowDialog}}')"><span style="color:black">Keep Exploring </span><i class="fas fa-arrow-right" style="color:black"></i></button>
                      </div>
                    </ons-dialog>
                  </template>
                  <!-- Hide Button -->
                  <ons-button style="background-color: white; color: black;border: 1px solid lightgrey;" onclick="hideDescriptionDialog('{{dialogID}}')">Close</ons-button>
                </p>
              </div>
            </ons-dialog>
          </template>

          {{/each}}
        <!-- Rows end -->
        </div>
        <!-- Container div end -->
      </div>
     
    <!-- End sneakers div -->
    </div>

    <!-- Tops Panel Start -->
    <div class="tabHomePanel">
      <!-- Cover photo-->
      <div class="jumbotron" style="margin-bottom:0; padding:0">
        <img src="https://media.endclothing.com/end-features/f_auto,q_auto,w_780/prodfeatures/dc2bc408-fd52-4449-93e6-e8c9f0570916_N391_SJA_FEAROFGOD_30-13.jpg?auto=compress,format" class="img-responsive">
      </div>
      <!-- Items -->
      <div class="container" style="padding:0; overflow:hidden;">
        <div class="row">
          {{#each tops}}
          <div class="col-6" onclick="showDescriptionDialog('{{dialogID}}', '{{index}}')">
              <img src="{{imageURL}}" class="img-responsive">
              <br>
              <h5>{{brand}}</h5>
              <h5>{{item}}</h5>
              <h5 style="color:grey;">{{cost}}</h5>
          </div>

          <!-- Dialog for Clothes -->
          <template id="{{index}}">
            <ons-dialog id="{{dialogID}}">
              <div style="text-align: center; padding: 10px;">
                <!-- Description -->
                <img src="{{imageURL}}" style="max-width: 55%">
                <hr>
                <h5><b>Owner:</b> {{owner}}</h5>
                <h5><b>Item:</b> {{item}}</h5>
                <h5><b>Description:</b> {{description}}</h5>
                <h5><b>Duration:</b> {{duration}}</h5>
                <!-- Buttons -->
                <p>   
                  <!-- Borrow Button -->
                  <ons-button style="background-color: white; color: black;border: 1px solid lightgrey;" onclick="showBorrowDialog('{{borrowDialog}}', '{{borrowTemp}}'), hideDescriptionDialog('{{dialogID}}')">Borrow</ons-button>
                  <!-- Dialog template -->
                  <template id="{{borrowTemp}}">
                    <ons-dialog id="{{borrowDialog}}">
                      <div class="jumbotron bg-warning" style="text-align:center; margin-bottom:0; padding:0">
                        <i class="far fa-check-circle fa-lg"></i>
                      </div>
                      <div class="container" style="text-align:center">
                      <h2>Request Sent!</h2>
                      <h4>Track your requests in <kbd>Request</kbd>.</h4>
                      <br>
                      <button type="button" class="btn btn-outline-secondary btn-lg" onclick="hideBorrowDialog('{{borrowDialog}}')"><span style="color:black">Keep Exploring </span><i class="fas fa-arrow-right" style="color:black"></i></button>
                      </div>
                    </ons-dialog>
                  </template>
                  <!-- Hide Button -->
                  <ons-button style="background-color: white; color: black;border: 1px solid lightgrey;" onclick="hideDescriptionDialog('{{dialogID}}')">Close</ons-button>
                </p>
              </div>
            </ons-dialog>
          </template>

          {{/each}}
        <!-- Rows end -->
        </div>
        <!-- Container div end -->
      </div>
    <!-- Tops Panel End -->
    </div>

    <!-- Bottoms Panel Start -->
    <div class="tabHomePanel">
      <!-- Cover photo-->
      <div class="jumbotron" style="margin-bottom:0; padding:0">
        <img src="https://media.endclothing.com/end-features/f_auto,q_auto,w_780/prodfeatures/73d33b2f7ebf8c88e3d581e9e48fbf42f6a630f4_ste-wing-visionarism-flight-case-2.jpg" class="img-responsive">
      </div>
      <!-- Items -->
      <div class="container" style="padding:0; overflow:hidden;">
        <div class="row">
          {{#each bottoms}}
          <div class="col-6" onclick="showDescriptionDialog('{{dialogID}}', '{{index}}')">
              <img src="{{imageURL}}" class="img-responsive">
              <br>
              <h5>{{brand}}</h5>
              <h5>{{item}}</h5>
              <h5 style="color:grey;">{{cost}}</h5>
          </div>

          <!-- Dialog for Clothes -->
          <template id="{{index}}">
            <ons-dialog id="{{dialogID}}">
              <div style="text-align: center; padding: 10px;">
                <!-- Description -->
                <img src="{{imageURL}}" style="max-width: 55%">
                <hr>
                <h5><b>Owner:</b> {{owner}}</h5>
                <h5><b>Item:</b> {{item}}</h5>
                <h5><b>Description:</b> {{description}}</h5>
                <h5><b>Duration:</b> {{duration}}</h5>
                <!-- Buttons -->
                <p>   
                  <!-- Borrow Button -->
                  <ons-button style="background-color: white; color: black;border: 1px solid lightgrey;" onclick="showBorrowDialog('{{borrowDialog}}', '{{borrowTemp}}'), hideDescriptionDialog('{{dialogID}}')">Borrow</ons-button>
                  <!-- Dialog template -->
                  <template id="{{borrowTemp}}">
                    <ons-dialog id="{{borrowDialog}}">
                      <div class="jumbotron bg-warning" style="text-align:center; margin-bottom:0; padding:0">
                        <i class="far fa-check-circle fa-lg"></i>
                      </div>
                      <div class="container" style="text-align:center">
                      <h2>Request Sent!</h2>
                      <h4>Track your requests in <kbd>Request</kbd>.</h4>
                      <br>
                      <button type="button" class="btn btn-outline-secondary btn-lg" onclick="hideBorrowDialog('{{borrowDialog}}')"><span style="color:black">Keep Exploring </span><i class="fas fa-arrow-right" style="color:black"></i></button>
                      </div>
                    </ons-dialog>
                  </template>
                  <!-- Hide Button -->
                  <ons-button style="background-color: white; color: black;border: 1px solid lightgrey;" onclick="hideDescriptionDialog('{{dialogID}}')">Close</ons-button>
                </p>
              </div>
            </ons-dialog>
          </template>

          {{/each}}
        <!-- Rows end -->
        </div>
        <!-- Container div end -->
      </div>
    <!-- Tops Panel End -->
    </div>

    <!-- End tabHomeContainer div -->
    </div>
  </ons-page>
</template>

<!-- Add-tab -->
<template id="tab2.html">
  <ons-page id="Tab2">
    <!-- Cover photo-->
      <div class="jumbotron" style="margin-bottom:0; padding:0">
        <img src="https://media.endclothing.com/end-features/f_auto,q_auto,w_780/prodfeatures/43bf5e0eb5a452aed7ecbc679213598e06c99bd6_aime-leon-dore-aw18-lookbook-thumb.jpg?auto=compress,format" class="img-responsive">
      </div>
    
      <div class="container" style="overflow:hidden; background-color:black; padding:30px">
        <!-- Background Pic -->
        <h1 class="lTitle" style="margin-bottom: 36px">Listing Info</h1>
        <!-- Form -->
        <form id="addItemForm" role="form" method="get" action="/add">
          <div class="form-group">
            <input type="text" class="form-control-lg" id="brandInput" placeholder="Brand" name="brand" style="padding:5px 0px; margin: 10px 0; border:none; border-bottom:1px solid white;background-color: black; color:#ccc; font-size:18px; font-weight:bold">
          </div>

          <div class="form-group">
            <input type="text" class="form-control-lg" id="itemInput" placeholder="Item" name="item" style="padding:5px 0px; margin: 10px 0; border:none; border-bottom:1px solid white;background-color: black; color:#ccc; font-size:18px; font-weight:bold">
          </div>

           <div class="form-group">
            <input type="text" class="form-control-lg" id="sizeInput" placeholder="Size" name="size" style="padding:5px 0px; margin: 10px 0; border:none; border-bottom:1px solid white; background-color: black; color:#ccc; font-size:18px; font-weight:bold">
          </div>

          <div class="form-group">
            <input type="text" class="form-control-lg" id="descriptionInput" placeholder="Description" name="description" style="padding:5px 0px; margin: 10px 0; border:none; border-bottom:1px solid white; background-color: black; color:#ccc; font-size:18px; font-weight:bold">
          </div>

          <div class="form-group">
            <input type="text" class="form-control-lg" id="pointInput" placeholder="Point" name="point" style="padding:5px 0px; margin: 10px 0; border:none; border-bottom:1px solid white;background-color: black; color:#ccc; font-size:18px; font-weight:bold">
          </div>

          <div class="form-group">
            <input type="text" class="form-control-lg" id="durationInput" placeholder="Days" name="duration" style="padding:5px 0px; margin: 10px 0; border:none; border-bottom:1px solid white;background-color: black; color:#ccc; font-size:18px; font-weight:bold">
          </div>

          <div class="form-group" style="overflow:hidden">
            <input id="imgInput" type="file" accept="image/*" style="padding:5px 0px; margin: 10px 0; border:none; border-bottom:1px solid white; background-color: black; color:#ccc; font-size:18px; font-weight:bold">
          </div>

          <div>
            <ons-button onclick="addItem()" id=testBt class="btn btn-warning" style="font-size:20px; border-radius:20px; padding:5px 25px; margin-top:10px">Post</ons-button>
          </div>

      <!-- Dialog for add complete-->
      <template id="added.html">
        <ons-dialog id="my-added">
          <div class="jumbotron bg-success" style="text-align:center; margin-bottom:0; padding:0">
              <i class="far fa-check-circle fa-lg"></i>
          </div>

          <div class="container" style="text-align:center">
            <h2>Success!</h2>
            <h4>Item was posted to <kbd>My Listing</kbd></h4>
          </div>
        </ons-dialog>
      </template>

  </form>
  </div>
  </ons-page>
</template>

<!-- Request-tab -->
<template id="tab3.html">
  <ons-page id="Tab3">

<!-- Horizontal-toolbar -->
    <ons-toolbar>
      <div class="center" style="font-size: 150%; font-weight: bolder;">Request</div>
    </ons-toolbar>

    <div class="tabContainer">

      <div class="buttonContainer">
        <button class='noBts' onclick="showPanel(0)">Requested</button>
        <button class='noBts' onclick="showPanel(1)">Borrow</button>
        <button class='noBts' onclick="showPanel(2)">Lend</button>
      </div>
      
      <!-- Noti Panel Start -->
      <div class="tabPanel">
        <!-- Content -->
        <div class="container" style="padding:0; overflow:hidden;">
          <!-- Notification 1-->
          <div class="row shadow p-4 mb-4 bg-white">
            <div class="col-4">
              <img src="https://blvcks.com/wp-content/uploads/2019/11/Hooded-Sweatshirt-With-5-Hearts-2_grande-600x600.jpg" class="img-responsive" style="float:left;">
            </div>
            <div class="col-8">
              <h3 style="font-size:80%; font-weight:bold; padding-top:0; margin-top:0"><kbd>Jason</kbd> sent a request for:</h3>
              <h4 style="font-size:70%; color:black">Commedes Garcons Hoodie</h4>
              <h4 id="stat1" style="font-size:70%; color:grey">Status: Pending</h4>
              <!-- Buttons -->
              <div class="d-flex justify-content-center">
                <!-- Detail Button -->
                <ons-button class="p-1 flex-fill" style="background-color:white; color:black;border: 1px solid lightgrey; text-align:center;" onclick="showNotificationDialog()">Detail</ons-button>
                  <template id="notification1.html">
                    <ons-dialog id="my-notification1">
                      <div class="media border p-3">
                        <img src="https://www.pngkey.com/png/detail/114-1149878_setting-user-avatar-in-specific-size-without-breaking.png" class="mr-3 rounded-circle" style="width:90px;">
                          <div class="media-body">
                            <h3><b>Borrow Request</b></h3>
                            <h4><kbd>Jason Lanse</kbd> <i class="far fa-check-circle"></i></h4>
                            <hr>
                            <h5 style="color:grey">Location:</h5>
                            <h5><i class="fas fa-map-marker-alt"></i> Brooklyn,NY 11213</h5>
                            <hr>
                            <h5>Commedes Garcons Hoodie</h5>
                            <h5>Grey | size: M | 15d</h5>
                            <p>
                              <ons-button style="background-color:white; color:black;border: 1px solid lightgrey; text-align:center;" onclick="hideNotificationDialog('my-notification1')">Close</ons-button>
                            </p>
                          </div>
                      </div>
                    </ons-dialog>
                  </template>

                <!-- Accept Button -->
                <ons-button class="p-1 flex-fill" style="background-color:white; color:black;border: 1px solid lightgrey; text-align:center;" onclick="showPanel(2), acceptStat('stat1')">Accept</ons-button>
                <!-- Decline Button -->
                <ons-button class="p-1 flex-fill" style="background-color:white; color:black;border: 1px solid lightgrey; text-align:center;" onclick="declineStat('stat1')">Decline</ons-button>
              </div>
            </div>
          <!-- row end --> 
          </div>

          <!-- Notification 2 -->
          <div class="row shadow p-4 mb-4 bg-white">
            <div class="col-4">
              <img src="https://media.endclothing.com/media/f_auto,q_auto:eco/prodmedia/media/catalog/product/0/5/05-02-2020_stussy_stocklogopant_navy_116431-navy_jd_1.jpg" class="img-responsive" style="float:left;">
            </div>
            <div class="col-8">
              <h3 style="font-size:80%; font-weight:bold; padding-top:0; margin-top:0"><kbd>Aarron</kbd> accepted request:</h3>
              <h4 style="font-size:70%; color:black">Stussy Logo Pant</h4>
              <h4 style="font-size:70%; color:grey">Status: Accepted</h4>
              <!-- Buttons -->
              <div class="d-flex justify-content-center">
                <!-- Detail Button -->
                <ons-button class="p-1 flex-fill" style="background-color:white; color:black;border: 1px solid lightgrey; text-align:center;" onclick="showNotification2Dialog()">Detail</ons-button>
                  <template id="notification2.html">
                    <ons-dialog id="my-notification2">
                      <div class="media border p-3">
                        <img src="https://thumbs.dreamstime.com/b/male-avatar-icon-flat-style-male-user-icon-cartoon-man-avatar-vector-stock-91602735.jpg" class="mr-3 rounded-circle" style="width:90px;">
                          <div class="media-body">
                            <h3><b>Request Accept</b></h3>
                            <h4><kbd>Aarron Lai</kbd> <i class="far fa-check-circle"></i></h4>
                            <hr>
                            <h5 style="color:grey">Location:</h5>
                            <h5><i class="fas fa-map-marker-alt"></i> Fairport,NY 14450</h5>
                            <hr>
                            <h5>Stussy Logo Pant</h5>
                            <h5>Navy | size: M | 7d</h5>
                            <p>
                              <ons-button style="background-color:white; color:black;border: 1px solid lightgrey; text-align:center;" onclick="hideNotificationDialog('my-notification2')">Close</ons-button>
                            </p>
                          </div>
                      </div>
                    </ons-dialog>
                  </template>

                <!-- View Button -->
                <ons-button class="p-1 flex-fill" style="background-color:white; color:black;border: 1px solid lightgrey; text-align:center;" onclick="showPanel(1)">View</ons-button>
              </div>
            </div>
          <!-- row end --> 
          </div>

          <!-- Notification 3 -->
          <div class="row shadow p-4 mb-4 bg-white">
            <div class="col-4">
              <img src="https://media.endclothing.com/media/f_auto,q_auto:eco/prodmedia/media/catalog/product/2/6/26-11-2019_aimeleondorexwoolrich_aimeknit_parmesan_ald-ksw00-pm_mb_1x.jpg" class="img-responsive" style="float:left;">
            </div>
            <div class="col-8">
              <h3 style="font-size:80%; font-weight:bold; padding-top:0; margin-top:0">Aime Leon Dore woolrich Knit</h3>
              <h4 id="stat3"style="font-size:70%; color:grey">Status: Pending</h4>
              <h4 style="font-size:80%;">Duration: 7 days</h4>

              <div class="d-flex justify-content-center">
                <ons-button class="p-1 flex-fill" style="background-color:white; color:black;border: 1px solid lightgrey; text-align:center;" onclick="cancelStat('stat3')">Cancel request</ons-button>
            </div>
            </div>
          <!-- row end --> 
          </div>

          <!-- Notification 4 -->
          <div class="row shadow p-4 mb-4 bg-white">
            <div class="col-4">
              <img src="https://image.goat.com/crop/1800/attachments/product_template_additional_pictures/images/008/488/331/original/14957_01.jpg.jpeg?1513115759" class="img-responsive" style="float:left;">
            </div>
            <div class="col-8">
              <h3 style="font-size:80%; font-weight:bold; padding-top:0; margin-top:0">Nike Fragment Design x Air Jordan1</h3>
              <h4 id="stat4"style="font-size:70%; color:grey">Status: Pending</h4>
              <h4 style="font-size:80%;">Duration: 7 days</h4>

              <div class="d-flex justify-content-center">
                <ons-button class="p-1 flex-fill" style="background-color:white; color:black;border: 1px solid lightgrey; text-align:center;" onclick="cancelStat('stat4')">Cancel request</ons-button>
            </div>
            </div>
          <!-- row end --> 
          </div>

          <script type="text/javascript">
            function cancelStat(id) {
              document.getElementById(id).innerHTML="Status: Cancelled";
            }

            function acceptStat(id) {
              document.getElementById(id).innerHTML="Status: Accepted";
            }

            function declineStat(id) {
              document.getElementById(id).innerHTML="Status: Declined";
            }
            
          </script>
        <!-- container end -->
        </div>
      <!-- Noti Panel End -->
      </div>


      <!-- Borrow Panel Start -->
      <div class="tabPanel">
        <!-- Contents -->
        <!-- Image for item -->
        <div class="container" style="padding:0; overflow:hidden;">
          <div class="row shadow p-4 mb-4 bg-white">
            <div class="col-4">
               <img src="https://media.endclothing.com/media/f_auto,q_auto:eco/prodmedia/media/catalog/product/0/5/05-02-2020_stussy_stocklogopant_navy_116431-navy_jd_1.jpg" class="img-responsive"style="float: left" onclick="showTemplateDialog1()">
            </div>

            <div class="col-8">
              <h3 style="font-size:80%; font-weight:bold; padding-top:0; margin-top:0">Stussy Logo Pant</h3>
              <h4 id="borrowStat" style="font-size:70%; color:gray;">Status: Received</h4>
              <h4 style="font-size:80%">Day Left: 7</h4>

              <!-- Return and message buttons -->
              <div class="d-flex justify-content-center">
                <ons-button class="p-1 flex-fill" style="background-color:white; color:black;border: 1px solid lightgrey; text-align:center;" onclick="changeStatus('borrowStat')">Return</ons-button>
                <ons-button class="p-1 flex-fill" style="background-color:white; color:black;border: 1px solid lightgrey; text-align:center;" onclick="openChat1('chat1')">Message</ons-button>
              </div>

            </div>
          </div>
      
        <!-- Dialog for item image -->
        <template id="dialog1.html">
        <ons-dialog id="my-dialog1">
          <div style="text-align:center; padding:10px;">
            <!-- Description -->
            <img src="https://media.endclothing.com/media/f_auto,q_auto:eco/prodmedia/media/catalog/product/0/5/05-02-2020_stussy_stocklogopant_navy_116431-navy_jd_1.jpg" style="max-width: 55%">
            <hr>
            <h5><b>Owner:</b> Aarron </h5>
            <h5><b>Item:</b> Stussy Logo Pant</h5>
            <h5><b>Description:</b> Navy | size: M</h5>
            <h5><b>Point:</b> 119 Pts</h5>
            <!-- Close Button -->
            <p>
            <ons-button onclick="hideDialog('my-dialog1')" style="background-color: white; color: black;border: 1px solid black;">Close</ons-button>
            </p>
          </div>
        </ons-dialog>
      </template>

      <!-- Chat-popup -->
      <div style="position:absolute; bottom:-15px; right:0px" class="chat-popup shadow-lg p-4 mb-4 bg-white" id="chat1">
      <form action="/action_page.php" class="form-container">
      <h1>Chat</h1>

      <label for="msg"><b>Message</b></label>
      <textarea placeholder="Type message.." name="msg" required></textarea>

      <button type="button" class="btn" onclick="chatSent()">Send</button>
      <button type="button" class="btn cancel" onclick="closeChat1('chat1')">Close</button>
    </form>
</div>

  <!-- Script for Chat-popup close and open -->
  <script type="text/javascript">
    function closeChat1(id){
      document.getElementById(id).style.display = "none";
    }

    function openChat1(id){
      document.getElementById(id).style.display = "block";
    }

    function changeStatus(id) {
      document.getElementById(id).innerHTML="Status: Returned";
    }
  </script>
  <!-- Container End -->
  </div>
<!-- Borrow Panel End -->
</div>
      
      <!-- Lend Panel Start -->
      <div class="tabPanel">
      <!-- Contents -->
      <!-- Image for item -->
      <div class="container" style="padding:0; overflow:hidden;">
          <div class="row shadow p-4 mb-4 bg-white">
            <div class="col-4">
              <img src="https://blvcks.com/wp-content/uploads/2019/11/Hooded-Sweatshirt-With-5-Hearts-2_grande-600x600.jpg" class="img-responsive" style="float:left" onclick="showTemplateDialog2()">
            </div>

            <div class="col-8">
              <h3 style="font-size:80%; font-weight:bold; padding-top:0; margin-top:0">Commedes Garcons Hoodie</h3>
              <h4 id="lendStat" style="font-size:70%; color:gray;">Status: Shipping soon</h4>
              <h4 style="font-size:80%;">Day Left: 15</h4>

              <!-- Return and message buttons -->
              <div class="d-flex justify-content-center">
              <ons-button class="p-1 flex-fill" style="background-color:white; color:black;border: 1px solid lightgrey; text-align:center;" onclick="changeStatus2('lendStat')">Ship</ons-button>
              <ons-button class="p-1 flex-fill" style="background-color:white; color:black;border: 1px solid lightgrey; text-align:center;" onclick="openChat2('chat2')">Message</ons-button>
            </div>
          </div>
        </div>

        <!-- Dialog for request button -->
        <template id="dialog2.html">
          <ons-dialog id="my-dialog2">
            <div style="text-align:center; padding:10px;">
              <!-- Description -->
              <img src="https://blvcks.com/wp-content/uploads/2019/11/Hooded-Sweatshirt-With-5-Hearts-2_grande-600x600.jpg" class="img-responsive" style="max-width: 55%; display:block; margin-left:auto; margin-right:auto">
              <hr>
              <h5><b>Owner:</b> Me</h5>
              <h5><b>Item:</b> Commedes Garcons Hoodie</h5>
              <h5><b>Description:</b> Grey | size: M</h5>
              <h5><b>Point:</b> 150 Pts</h5>
              <!-- Close Button -->
              <p>
              <ons-button style="background-color: white; color: black;border: 1px solid black;" onclick="hideDialog('my-dialog2')">Close</ons-button>
              </p>
            </div>
          </ons-dialog>
        </template>

      <!-- Chat-popup -->
      <div style="position:absolute; bottom:-35px; right:0px; "class="chat-popup shadow-lg p-4 mb-4 bg-white" id="chat2">

        <form action="/action_page.php" class="form-container">
        <h1>Chat</h1>

        <label for="msg"><b>Message</b></label>
        <textarea placeholder="Type message.." name="msg" required></textarea>

        <button type="button" class="btn" onclick="chatSent()">Send</button>
        <button type="button" class="btn cancel" onclick="closeChat2('chat2')">Close</button>
        </form>
      </div>

    <!-- Script for Chat-popup close and open -->
    <script type="text/javascript">
      function closeChat2(id){
      document.getElementById(id).style.display = "none";
    }

      function openChat2(id){
      document.getElementById(id).style.display = "block";
    }

      function changeStatus2(id) {
      document.getElementById(id).innerHTML="Status: Shipped";
    }
  </script>

      <!-- End Lend tab --> 
        </div>
     </div>
    <!-- End Lend Panel -->
    </div>
    <!-- End Notification-bottomtab -->
  </ons-page>
</template>


<!-- Profile-tab -->
<template id="tab4.html">
  <ons-page id="Tab4">

    <ons-toolbar style="background-color:black">
      <div class="right">
        <ons-toolbar-button style="background-color:black; color:white;border: 1px solid white; margin-right:80px" onclick="">1,000 Pts</ons-toolbar-button>
      </div>

      <div class="center" style="font-size: 150%; font-weight: bolder; margin:auto; color:white">Listing</div>
    </ons-toolbar>

    <div class="container" style="padding:0; overflow:hidden">
      <div class="row" id="listRow">
        

        
      </div>
    </div>
    
    <!-- End closet-tab -->
  </ons-page>
</template>
  <!-- End App template -->
  </ons-page>
</template>


<script>

  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyBMRWYBAvXadbTiM8yYHkzLNvYqg9sF2Ec",
    authDomain: "borrowing-clothes.firebaseapp.com",
    databaseURL: "https://borrowing-clothes.firebaseio.com",
    projectId: "borrowing-clothes",
    storageBucket: "gs://borrowing-clothes.appspot.com",
    messagingSenderId: "695144611565",
    appId: "1:695144611565:web:a2527d104159604e7ed6e4",
    measurementId: "G-FG3LKTNH37"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
</body>

<!-- Script to for Database Function -->
<script type="text/javascript">
const database = firebase.database();
const storage = firebase.storage();

  function addItem() {
    const brand = document.getElementById('brandInput').value;
    const item = document.getElementById('itemInput').value;
    const description = document.getElementById('descriptionInput').value;
    const size = document.getElementById('sizeInput').value;
    const point = document.getElementById('pointInput').value;
    const duration = document.getElementById('durationInput').value;
    const imgFile = document.getElementById('imgInput').files[0];

    var data = {
      brand: brand,
      item: item,
      description: description,
      size: size,
      point: point,
      duration: duration,
    }

    //database.ref('closet/').remove();
    var closetRef = database.ref('borrowing-clothes/closet/');

    var key = closetRef.push(data).key;

    var uploadTask = storage.ref('images/' + key).put(imgFile);

    // Listen for state changes, errors, and completion of the upload.
uploadTask.on(firebase.storage.TaskEvent.STATE_CHANGED, // or 'state_changed'
  function(snapshot) {
    // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
    var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
    console.log('Upload is ' + progress + '% done');
    switch (snapshot.state) {
      case firebase.storage.TaskState.PAUSED: // or 'paused'
        console.log('Upload is paused');
        break;
      case firebase.storage.TaskState.RUNNING: // or 'running'
        console.log('Upload is running');
        break;
    }
  }, function(error) {

  // A full list of error codes is available at
  // https://firebase.google.com/docs/storage/web/handle-errors
  switch (error.code) {
    case 'storage/unauthorized':
      // User doesn't have permission to access the object
      break;

    case 'storage/canceled':
      // User canceled the upload
      break;

    case 'storage/unknown':
      // Unknown error occurred, inspect error.serverResponse
      console.log('Unknown error');
      break;
  }
}, function() {
  //Show added complete dialog
  var dialog = document.getElementById('my-added');

  if (dialog) {
            dialog.show();
            setTimeout(function() {dialog.hide();}, 1000);
          } else {
            ons.createElement('added.html', { append: true })
              .then(function(dialog) {
                dialog.show();
                setTimeout(function() {dialog.hide();}, 1000);
              });
          }



  //Create references
  var closetRef = database.ref('borrowing-clothes/closet/');
  //Sync object changes
  closetRef.on('value', gotData);
  
  function gotData(data) {
    
    const row = document.getElementById('listRow');
    row.innerHTML = '';

    if(data.exists()) {

    var items = data.val();
    var keys = Object.keys(items);

for (var i = 0; i < keys.length; i++) {
      var k = keys[i];
      var item = items[k].item;
      var description = items[k].description;
      var size = items[k].size;
      var img = items[k].img;
      var cost = items[k].point;
      var brand = items[k].brand;
      var owner = items[k].owner;
      var duration = items[k].duration;


      // Create div element
      const column = document.createElement('div');
      column.id = k;
      column.setAttribute('class','col-6');

      // Create elements for info
      var itemBrand = document.createElement('h5');
      var itemIT = document.createElement('h5');
      var itemDes = document.createElement('h5');
      var itemCost = document.createElement('h5');
      var space = document.createElement('br');

      itemCost.setAttribute('style','color:grey;');

      itemBrand.textContent = brand;
      itemIT.textContent = item;
      itemDes.textContent = description + " | " + size + " | " + duration + "d";
      itemCost.textContent = cost + " Pts";


     

      // Create img element
      const itemImg = document.createElement('img');

      var imgRef = storage.ref('images/' + k).getDownloadURL().then(function(url){
          itemImg.src = url;
      }).catch(function(error) {
            console.log('error: ' + error);
        });

      let itemDialogID = k + '-my';
      let itemTemplateID = k + '.html';

      
      itemImg.className = "center-block";
      itemImg.setAttribute('style', 'height:114px');


      // Create delelete button element
      var button = document.createElement('ons-button');
      button.innerHTML = 'delete';
      button.setAttribute('style', 'background-color: white; color: black;border: 1px solid lightgrey;');


      column.appendChild(itemImg);
      column.appendChild(space);
      column.appendChild(itemBrand);
      column.appendChild(itemIT);
      column.appendChild(itemDes);
      column.appendChild(itemCost);
      column.appendChild(button);

      row.appendChild(column);

      //Event for delete button
      button.addEventListener('click', (e) =>{
        e.stopPropagation();
        var idTG = e.target.parentNode.id;
        console.log(idTG);
        database.ref('borrowing-clothes/closet/' + idTG).remove();
        console.log('images/' + idTG);
        storage.ref().child('images/' + idTG).delete().then(function() {
            console.log('Delete storage completed!')
        }).catch(function(error) {
            console.log('error: ' + error);
        });
      });


      //End for-loop
      };
    //End if statement
    };
    //End gotData function
    }; 
  // End last function function 
  });
//End add function
}
</script>








<!-- Script for listing items from database to closet 
<script type="text/javascript"> -->
<script type="text/javascript">
  //Create references
  var closetRef = database.ref('borrowing-clothes/closet/');
  //Sync object changes
  closetRef.on('value', gotData);
  
  function gotData(data) {
    
    const row = document.getElementById('listRow');
    row.innerHTML = '';

    if(data.exists()) {

    var items = data.val();
    var keys = Object.keys(items);

    for (var i = 0; i < keys.length; i++) {
      var k = keys[i];
      var item = items[k].item;
      var description = items[k].description;
      var size = items[k].size;
      var img = items[k].img;
      var cost = items[k].point;
      var brand = items[k].brand;
      var owner = items[k].owner;
      var duration = items[k].duration;


      // Create div element
      const column = document.createElement('div');
      column.id = k;
      column.setAttribute('class','col-6');

      // Create elements for info
      var itemBrand = document.createElement('h5');
      var itemIT = document.createElement('h5');
      var itemDes = document.createElement('h5');
      var itemCost = document.createElement('h5');
      var space = document.createElement('br');

      itemCost.setAttribute('style','color:grey;');

      itemBrand.textContent = brand;
      itemIT.textContent = item;
      itemDes.textContent = description + " | " + size + " | " + duration + "d";
      itemCost.textContent = cost + " Pts";


     

      // Create img element
      const itemImg = document.createElement('img');

      var imgRef = storage.ref('images/' + k).getDownloadURL().then(function(url){
          itemImg.src = url;
      }).catch(function(error) {
            console.log('error: ' + error);
        });

      let itemDialogID = k + '-my';
      let itemTemplateID = k + '.html';

      
      itemImg.className = "center-block";
      itemImg.setAttribute('style', 'height:114px');


      // Create delelete button element
      var button = document.createElement('ons-button');
      button.innerHTML = 'delete';
      button.setAttribute('style', 'background-color: white; color: black;border: 1px solid lightgrey;');


      column.appendChild(itemImg);
      column.appendChild(space);
      column.appendChild(itemBrand);
      column.appendChild(itemIT);
      column.appendChild(itemDes);
      column.appendChild(itemCost);
      column.appendChild(button);

      row.appendChild(column);

      //Event for delete button
      button.addEventListener('click', (e) =>{
        e.stopPropagation();
        var idTG = e.target.parentNode.id;
        console.log(idTG);
        database.ref('borrowing-clothes/closet/' + idTG).remove();
        console.log('images/' + idTG);
        storage.ref().child('images/' + idTG).delete().then(function() {
            console.log('Delete storage completed!')
        }).catch(function(error) {
            console.log('error: ' + error);
        });
      });


    //End for-loop
    };
  // End if statement
  };
  //End gotData function
  };  
</script>



<script type="text/javascript">
  //for request- borrow(1), lend(2) dialogs  
var showTemplateDialog1 = function() {
  var dialog = document.getElementById('my-dialog1');


  ga('create', 'UA-159639041-1', 'auto');
  ga('send', 'event', 'like', 'click');

  if (dialog) {
    dialog.show();
  } else {
    ons.createElement('dialog1.html', { append: true })
      .then(function(dialog) {
        dialog.show();
      });
  }
};
var showTemplateDialog2 = function() {
  var dialog = document.getElementById('my-dialog2');

  if (dialog) {
    dialog.show();
  } else {
    ons.createElement('dialog2.html', { append: true })
      .then(function(dialog) {
        dialog.show();
      });
  }
};

var hideDialog = function(id) {
  document
    .getElementById(id)
    .hide();
  };


// For Log-in modal on home-tab
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

</script>

    <!-- Notification -->
    <script type="text/javascript">
        var showNotificationDialog = function() {
          var dialog = document.getElementById('my-notification1');

          if (dialog) {
            dialog.show();
          } else {
            ons.createElement('notification1.html', { append: true })
              .then(function(dialog) {
                dialog.show();
              });
          }
        };
        var showNotification2Dialog = function() {
          var dialog2 = document.getElementById('my-notification2');

          if (dialog2) {
            dialog2.show();
          } else {
            ons.createElement('notification2.html', { append: true })
              .then(function(dialog) {
                dialog.show();
              });
          }
        };
        var hideNotificationDialog = function(id) {
          document
            .getElementById(id)
            .hide();
        };
        </script>

    <!-- Accept -->
    <script type="text/javascript">
        var showAcceptDialog = function() {
      var dialog = document.getElementById('my-accept');
      if (dialog) {
        dialog.show();
      } else {
        ons.createElement('accept.html', { append: true })
          .then(function(dialog) {
            dialog.show();
          });
      }
    };
    var hideAcceptDialog = function(id) {
      document
        .getElementById(id)
        .hide();
    };
    </script>

    <!-- Decline -->
    <script type="text/javascript">
        var showDeclineDialog = function() {
      var dialog = document.getElementById('my-decline');
      if (dialog) {
        dialog.show();
      } else {
        ons.createElement('decline.html', { append: true })
          .then(function(dialog) {
            dialog.show();
          });
      }
    };
    var hideDeclineDialog = function(id) {
      document
        .getElementById(id)
        .hide();
    };
    </script>

    <!-- Borrow -->
    <script type="text/javascript">
    var showBorrowDialog = function(dialog, temp ) {
       var dialogBox = document.getElementById(dialog);
      if (dialogBox) {
        dialogBox.show();
        //setTimeout(function() {hideBorrowDialog(dialog);}, 800);
      } else {
        ons.createElement(temp, { append: true })
          .then(function(dialogBox) {
            dialogBox.show();
            //setTimeout(function() {hideBorrowDialog(dialog);}, 800);
          });
      }
    };

    var hideBorrowDialog = function(dialog) {
      document
        .getElementById(dialog)
        .hide();
    };
    </script>

<!-- For Home-tab items -->
<script type="text/javascript">

var showDescriptionDialog = function(dialog, temp) {
  var dialog = document.getElementById(dialog);

            if (dialog) {
            dialog.show();
          } else {
            ons.createElement(temp, { append: true })
              .then(function(dialog) {
                dialog.show();
              });
          }
};
var hideDescriptionDialog = function(dialog) {
      document
        .getElementById(dialog)
        .hide();
    };

function showBorrow(url, item) {
  alert(item);  
}

</script>

<!-- For notification topbar -->
<script type="text/javascript">
  var tabButtons=document.getElementsByClassName('noBts');
  var tabPanels=document.getElementsByClassName('tabPanel');

  function showPanel(panelIndex) {
    for(var i = 0; i < tabButtons.length; i++){
      tabButtons[i].style.backgroundColor='';
      tabButtons[i].style.color='';
      tabButtons[i].style.borderBottom='';
    };
    tabButtons[panelIndex].style.color='black';
    tabButtons[panelIndex].style.borderBottom='solid black';

    for(var k = 0; k < tabPanels.length; k++){
      tabPanels[k].style.display='none';
    };

    tabPanels[panelIndex].style.display='block';
  }
</script>

<!-- For home topbar -->
<script type="text/javascript">
  var tabHomeButtons=document.getElementsByClassName('homeBts');
  var tabHomePanels=document.getElementsByClassName('tabHomePanel');

  function showHomePanel(panelIndex) {
    for(var i = 0; i < tabHomeButtons.length; i++){
      tabHomeButtons[i].style.backgroundColor='';
      tabHomeButtons[i].style.color='';
      tabHomeButtons[i].style.borderBottom='';
    };
    tabHomeButtons[panelIndex].style.color='black';
    tabHomeButtons[panelIndex].style.borderBottom='solid black';

    for(var k = 0; k < tabHomePanels.length; k++){
      tabHomePanels[k].style.display='none';
    };

    tabHomePanels[panelIndex].style.display='block';
  }
</script>

<!-- Script for new request and chat sent -->
<script type="text/javascript">
  function showRequest(){
    alert("You have new requests!");
  }

  function chatSent(){
    alert("Your message has been delivered!");
  }

</script>

</html>