<!DOCTYPE html>
<html>
<head>
  <title> Borrow Clothes App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/login.css" rel="stylesheet">
  <link href="css/notification.css" rel="stylesheet">
  <link href="css/onsenui.css" rel="stylesheet">
  <link href="css/onsen-css-components.css" rel="stylesheet">
  <link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
  <script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-analytics.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-storage.js"></script>
	<script src="js/onsenui.js"></script>
  <script src="js/jquery-1.11.0.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="https://code.jquery.com/jquery.js"></script>
    {{> facebook}}
  <script src="/js/facebook.js"></script>
</head>
</head>
<body>
  
<!-- Tabbar-bottom -->
<ons-page>
  <ons-tabbar swipeable position="auto">
    <ons-tab page="tab1.html" label="Home" icon="md-home" active></ons-tab>

    <ons-tab page="tab2.html" label="Add" icon="md-plus"></ons-tab>

    <ons-tab page="tab3.html" label="Notification" icon="md-notifications"></ons-tab>
    
    <ons-tab page="tab4.html" label="Closet" icon="md-face"></ons-tab>
  </ons-tabbar>
</ons-page>

<!-- Home-tab -->
<template id="tab1.html">
  <ons-page id="Tab1">
  <!-- Side-menu -->
  <ons-splitter>
  <ons-splitter-side id="menu1" side="left" width="220px" collapse swipeable>
    <ons-page>
      <ons-list>
        <!-- Labels on menu -->
        <ons-list-item onclick="fn.load1('apparel.html')" tappable>
          Apparel
        </ons-list-item>
        <ons-list-item onclick="fn.load1('footwear.html')" tappable>
          Footwear
        </ons-list-item>
      </ons-list>
    </ons-page>
  </ons-splitter-side>
  <!-- Default-page on menu -->
  <ons-splitter-content id="content1" page="apparel.html"></ons-splitter-content>
</ons-splitter>

<!-- Footwear template -->
<template id="footwear.html">
  <ons-page>
    <!-- Horizontal-toolbar -->
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button onclick="fn.open1()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center" style="font-size: 150%; font-weight: bolder;">
        Footwear
      </div>
    </ons-toolbar>

    <!--Search Bar-->
    <div class="center">
      <p style="text-align: center; margin-top: 10px;">
        <form id="searchShoesForm" role="form" method="get" action="/searchshoes">
            <h3>Search for a brand!</h3>
            <div class="form-group">
              <label for="brand">Brand:</label>
              <input style="border: 2px solid black" type="text" class="form-control" id="brand" placeholder="Brand" name="brand">
             </div>
        </form>
      </p>
    </div>

    <!-- Template contents-->
    <h1>Sneakers</h1>
    {{#each shoes}}
      <div class="search">
      <p><img src="{{imageURL}}" width= "175" height="175"><br>
        <b>Owner:</b> {{owner}}<br>
        <b>Item:</b> {{item}}<br>
        <b>Brand:</b> {{brand}}<br>
        <b>Description:</b> {{description}}
      </p>
      <!-- Borrow Dialog Button-->
      <ons-button onclick="showBorrowDialog()">Borrow Item</ons-button>
          <!-- Dialog template -->
          <template id="borrow.html">
          <ons-dialog id="my-borrow">
            <div style="text-align: center; padding: 10px;">
              <p>Borrow requested!</p>
              <p>
                <ons-button onclick="hideNotificationDialog('my-borrow')">Close</ons-button>
              </p>
            </div>
          </ons-dialog>
        </template>
      </div>
    {{/each}}

    <!-- End footwear template -->
  </ons-page>
</template>

<!-- Apparel Template-->
<template id="apparel.html">
  <ons-page>
    <!-- Horizontal-toolbar -->
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button onclick="fn.open1()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center" style="font-size: 150%; font-weight: bolder;">
        Apparel
      </div>
       <!-- Log-in on toolbar -->
              <div id="facebookPhoto" class="right">
              <img id="photo" class="roundrect" style = "width: 40px" src="" />
            </div>

              <div class = "right">

                <p class="facebookLogin">
                  <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
                  </fb:login-button>
                </p>
            </div>
    </ons-toolbar>

    <!-- Search Bar-->
    <div class="center">
      <p style="text-align: center; margin-top: 10px;">
        <form id="searchShoesForm" role="form" method="get" action="/searchClothes">
            <h3>Search for a brand!</h3>
            <div class="form-group">
              <label for="brand">Brand:</label>
              <input  style="border: 2px solid black" type="text" class="form-control" id="brand" placeholder="Brand" name="brand">
             </div>
        </form>
      </p>
    </div>

    <!-- Template contents -->
    <h style="text-align: left;">Tops</h>
    <div class="scrollmenu">
      <!-- Item 1 -->
      <img src="https://media.endclothing.com/media/f_auto,q_auto:eco/prodmedia/media/catalog/product/1/4/14-02-2020_akindofguise_gustoshirt_fadedcheck_010704_jm_1.jpg" width="38%" height="38%" id="item1" onclick="showItem1Dialog()">
      <!-- Dialog for item1 -->
      <template id="item1.html">
      <ons-dialog id="my-item1">
        <div style="text-align: center; padding: 10px;">
          <!-- Description -->
          <p>
            <img src="https://media.endclothing.com/media/f_auto,q_auto:eco/prodmedia/media/catalog/product/1/4/14-02-2020_akindofguise_gustoshirt_fadedcheck_010704_jm_1.jpg" width= "175" height="175">
            <p><b>A Kind Of Gusto Shirt</b><br>
            Faded Check<br>
            <b>Size:</b> M<br>
          </p>
          
          <p>
            <!-- Borrow Button -->
            <ons-button onclick="showRequest1Dialog()">Borrow</ons-button>
      <template id="request1.html">
        <ons-dialog id="my-request1">
          <div style="text-align: center; padding: 10px;">
            <p>Borrow Request Sent!</p>
            <p>
              <ons-button onclick="hideRequest1Dialog('my-request1')">Close</ons-button>
            </p>
          </div>
        </ons-dialog>
      </template>
            <!-- Hide Button -->
            <ons-button onclick="hideItem1Dialog('my-item1')">Close</ons-button>
          </p>
        </div>
      </ons-dialog>
    </template>

    <!-- Item 2 -->
    <img src="https://media.endclothing.com/media/f_auto,q_auto:eco/prodmedia/media/catalog/product/1/8/18-11-2019_stussy_longsleevestocktee_black_1994496-bk_mb_1.jpg" width="38%" height="38%" id="item1" onclick="showItem2Dialog()">
      <!-- Dialog for item2 -->
      <template id="item2.html">
      <ons-dialog id="my-item2">
        <div style="text-align: center; padding: 10px;">
          <!-- Description -->
          <p>
            <img src="https://media.endclothing.com/media/f_auto,q_auto:eco/prodmedia/media/catalog/product/1/8/18-11-2019_stussy_longsleevestocktee_black_1994496-bk_mb_1.jpg" width= "175" height="175">
            <p><b>Stussy Long Sleeve Stock Tee</b><br>
            Black<br>
            <b>Size:</b> L<br>
          </p>
          
          <p>
            <!-- Borrow Button -->
            <ons-button onclick="showRequest2Dialog()">Borrow</ons-button>
      <template id="request2.html">
        <ons-dialog id="my-request2">
          <div style="text-align: center; padding: 10px;">
            <p>Borrow Request Sent!</p>
            <p>
              <ons-button onclick="hideRequest2Dialog('my-request2')">Close</ons-button>
            </p>
          </div>
        </ons-dialog>
      </template>
            <!-- Hide Button -->
            <ons-button onclick="hideItem2Dialog('my-item2')">Close</ons-button>
          </p>
        </div>
      </ons-dialog>
    </template>

    <!-- Item 3 -->
      <img src="https://media.endclothing.com/media/f_auto,q_auto:eco/prodmedia/media/catalog/product/1/7/17-02-2020_penfield_huntervacationshirt_white_pfm512844120-012_bl_1.jpg" width="38%" height="38%" id="item3" onclick="showItem3Dialog()">
      <!-- Dialog for item3 -->
      <template id="item3.html">
      <ons-dialog id="my-item3">
        <div style="text-align: center; padding: 10px;">
          <!-- Description -->
          <p>
            <img src="https://media.endclothing.com/media/f_auto,q_auto:eco/prodmedia/media/catalog/product/1/7/17-02-2020_penfield_huntervacationshirt_white_pfm512844120-012_bl_1.jpg" width= "175" height="175">
            <p><b>Penfield Hunter vacation Shirt</b><br>
            White<br>
            <b>Size:</b> M<br>
          </p>
          
          <p>
            <!-- Borrow Button -->
            <ons-button onclick="showRequest3Dialog()">Borrow</ons-button>
      <template id="request3.html">
        <ons-dialog id="my-request3">
          <div style="text-align: center; padding: 10px;">
            <p>Borrow Request Sent!</p>
            <p>
              <ons-button onclick="hideRequest3Dialog('my-request3')">Close</ons-button>
            </p>
          </div>
        </ons-dialog>
      </template>
            <!-- Hide Button -->
            <ons-button onclick="hideItem3Dialog('my-item3')">Close</ons-button>
          </p>
        </div>
      </ons-dialog>
    </template>

    <!-- Bottom Section -->
    </div>
    <h style="text-align: left;">Bottoms</h>
    <div class="scrollmenu">
      <!-- Item 4 -->
      <img src="https://media.endclothing.com/media/f_auto,q_auto:eco/prodmedia/media/catalog/product/2/7/27-11-2019_paulsmith_classicswimshort_navy_m1a-239b-b40675-47_tc_1.jpg" width="38%" height="38%" id="item1" onclick="showItem4Dialog()">
      <!-- Dialog for item4 -->
      <template id="item4.html">
      <ons-dialog id="my-item4">
        <div style="text-align: center; padding: 10px;">
          <!-- Description -->
          <p>
            <img src="https://media.endclothing.com/media/f_auto,q_auto:eco/prodmedia/media/catalog/product/2/7/27-11-2019_paulsmith_classicswimshort_navy_m1a-239b-b40675-47_tc_1.jpg" width= "175" height="175">
            <p><b>Paul Smith Classic Swim Short</b><br>
            Navy<br>
            <b>Size: </b> X-Large<br>
          </p>
          
          <p>
            <!-- Borrow Button -->
            <ons-button onclick="showRequest4Dialog()">Borrow</ons-button>
      <template id="request4.html">
        <ons-dialog id="my-request4">
          <div style="text-align: center; padding: 10px;">
            <p>Borrow Request Sent!</p>
            <p>
              <ons-button onclick="hideRequest4Dialog('my-request4')">Close</ons-button>
            </p>
          </div>
        </ons-dialog>
      </template>
            <!-- Hide Button -->
            <ons-button onclick="hideItem4Dialog('my-item4')">Close</ons-button>
          </p>
        </div>
      </ons-dialog>
    </template>

      <!-- Item 5 -->
      <img src="https://media.endclothing.com/media/f_auto,q_auto:eco/prodmedia/media/catalog/product/2/3/23-12-2019_poloralphlauren_travellerswimshort_redvintagehibiscus_710787084001_bb_1.jpg" width="38%" height="38%" width="38%" height="38%" id="item5"onclick="showItem5Dialog()">
      <!-- Dialog for item5 -->
      <template id="item5.html">
      <ons-dialog id="my-item5">
        <div style="text-align: center; padding: 10px;">
          <!-- Description -->
          <p>
            <img src="https://media.endclothing.com/media/f_auto,q_auto:eco/prodmedia/media/catalog/product/2/3/23-12-2019_poloralphlauren_travellerswimshort_redvintagehibiscus_710787084001_bb_1.jpg" width= "175" height="175">
            <p><b>Polo Ralph Lauren Traveller Swim Short</b><br>
            Red & Vintage Hibiscus<br>
            <b>Size: </b> L<br>
          </p>
          
          <p>
            <!-- Borrow Button -->
            <ons-button onclick="showRequest5Dialog()">Borrow</ons-button>
      <template id="request5.html">
        <ons-dialog id="my-request5">
          <div style="text-align: center; padding: 10px;">
            <p>Borrow Request Sent!</p>
            <p>
              <ons-button onclick="hideRequest5Dialog('my-request5')">Close</ons-button>
            </p>
          </div>
        </ons-dialog>
      </template>
            <!-- Hide Button -->
            <ons-button onclick="hideItem5Dialog('my-item5')">Close</ons-button>
          </p>
        </div>
      </ons-dialog>
    </template>

      <!-- Item 6 -->
      <img src="https://media.endclothing.com/media/f_auto,q_auto:eco/prodmedia/media/catalog/product/1/8/18-02-2020_carhartt_wipbiboverall_black_i024878-89gd_jb_1.jpg" width="38%" height="38%" id="item6"onclick="showItem6Dialog()">
      <!-- Dialog for item6 -->
      <template id="item6.html">
      <ons-dialog id="my-item6">
        <div style="text-align: center; padding: 10px;">
          <!-- Description -->
          <p>
            <img src="https://media.endclothing.com/media/f_auto,q_auto:eco/prodmedia/media/catalog/product/1/8/18-02-2020_carhartt_wipbiboverall_black_i024878-89gd_jb_1.jpg" height="175">
            <p><b>Carhartt Wip Bib Overall</b><br>
            Black<br>
            <b>Size: </b> S<br>
          </p>
          
          <p>
            <!-- Borrow Button -->
            <ons-button onclick="showRequest6Dialog()">Borrow</ons-button>
      <template id="request6.html">
        <ons-dialog id="my-request6">
          <div style="text-align: center; padding: 10px;">
            <p>Borrow Request Sent!</p>
            <p>
              <ons-button onclick="hideRequest6Dialog('my-request6')">Close</ons-button>
            </p>
          </div>
        </ons-dialog>
      </template>
            <!-- Hide Button -->
            <ons-button onclick="hideItem6Dialog('my-item6')">Close</ons-button>
          </p>
        </div>
      </ons-dialog>
    </template>
    </div>

    <!-- Outerwear Section -->
    <h style="text-align: left;">Outerwear</h>
    <div class="scrollmenu">

      <!-- Item 7 -->
      <img src="https://media.endclothing.com/media/f_auto,q_auto:eco/prodmedia/media/catalog/product/1/4/14-12-2019_stoneisland_garmentdyedcrewsweat_orangered_721563051-v0037_mb_1.jpg" width="38%" height="38%" id="item7" onclick="showItem7Dialog()">
      <!-- Dialog for item 7 -->
      <template id="item7.html">
      <ons-dialog id="my-item7">
        <div style="text-align: center; padding: 10px;">
          <!-- Description -->
          <p>
            <img src="https://media.endclothing.com/media/f_auto,q_auto:eco/prodmedia/media/catalog/product/1/4/14-12-2019_stoneisland_garmentdyedcrewsweat_orangered_721563051-v0037_mb_1.jpg" height="175">
            <p><b>Stone Island Garment Dyed Crew Seat</b><br>
            Orange Red<br>
            <b>Size: </b> M<br>
          </p>
          
          <p>
            <!-- Borrow Button -->
            <ons-button onclick="showRequest7Dialog()">Borrow</ons-button>
      <template id="request7.html">
        <ons-dialog id="my-request7">
          <div style="text-align: center; padding: 10px;">
            <p>Borrow Request Sent!</p>
            <p>
              <ons-button onclick="hideRequest7Dialog('my-request7')">Close</ons-button>
            </p>
          </div>
        </ons-dialog>
      </template>
            <!-- Hide Button -->
            <ons-button onclick="hideItem7Dialog('my-item7')">Close</ons-button>
          </p>
        </div>
      </ons-dialog>
    </template>

      <!-- Item 8 -->
      <img src="https://media.endclothing.com/media/f_auto,q_auto:eco/prodmedia/media/catalog/product/1/2/12-02-2020_adidas_essentialcrewsweat_nightmarine_fm9947_ja_1.jpg" width="38%" height="38%" id="item8" onclick="showItem8Dialog()">
      <!-- Dialog for item 8 -->
      <template id="item8.html">
      <ons-dialog id="my-item8">
        <div style="text-align: center; padding: 10px;">
          <!-- Description -->
          <p>
            <img src="https://media.endclothing.com/media/f_auto,q_auto:eco/prodmedia/media/catalog/product/1/2/12-02-2020_adidas_essentialcrewsweat_nightmarine_fm9947_ja_1.jpg" height="175">
            <p><b>Adidas Essential Crew Sweat</b><br>
            Night Marine<br>
            <b>Size: </b> L<br>
          </p>
          
          <p>
            <!-- Borrow Button -->
            <ons-button onclick="showRequest8Dialog()">Borrow</ons-button>
      <template id="request8.html">
        <ons-dialog id="my-request8">
          <div style="text-align: center; padding: 10px;">
            <p>Borrow Request Sent!</p>
            <p>
              <ons-button onclick="hideRequest8Dialog('my-request8')">Close</ons-button>
            </p>
          </div>
        </ons-dialog>
      </template>
            <!-- Hide Button -->
            <ons-button onclick="hideItem8Dialog('my-item8')">Close</ons-button>
          </p>
        </div>
      </ons-dialog>
    </template>

      <!-- Item 9 -->
      <img src="https://media.endclothing.com/media/f_auto,q_auto:eco/prodmedia/media/catalog/product/0/7/07-02-2020_poloralphlauren_yachtingbearcrewsweat_andoverheather_710792903002_bb_1.jpg" width="38%" height="38%" id="item9" onclick="showItem9Dialog()">
      <!-- Dialog for item 9 -->
      <template id="item9.html">
      <ons-dialog id="my-item9">
        <div style="text-align: center; padding: 10px;">
          <!-- Description -->
          <p>
            <img src="https://media.endclothing.com/media/f_auto,q_auto:eco/prodmedia/media/catalog/product/0/7/07-02-2020_poloralphlauren_yachtingbearcrewsweat_andoverheather_710792903002_bb_1.jpg" height="175">
            <p><b>Polo Ralph Lauren Yachting Bear Sweat</b><br>
            Andover Heather<br>
            <b>Size: </b> S<br>
          </p>
          
          <p>
            <!-- Borrow Button -->
            <ons-button onclick="showRequest9Dialog()">Borrow</ons-button>
      <template id="request9.html">
        <ons-dialog id="my-request9">
          <div style="text-align: center; padding: 10px;">
            <p>Borrow Request Sent!</p>
            <p>
              <ons-button onclick="hideRequest9Dialog('my-request9')">Close</ons-button>
            </p>
          </div>
        </ons-dialog>
      </template>
            <!-- Hide Button -->
            <ons-button onclick="hideItem9Dialog('my-item9')">Close</ons-button>
          </p>
        </div>
      </ons-dialog>
    </template>

    </div>
    <!-- End apparel template -->
  </ons-page>
</template>
    <!-- End home-tab template -->
  </ons-page>
</template>

<!-- Add-tab -->
<template id="tab2.html">
  <ons-page id="Tab2">
    <ons-toolbar>
      <div class="center" style="font-size: 150%; font-weight: bolder;">Post an item</div>
    </ons-toolbar>

    <form id="addItemForm" role="form" method="get" action="/add">
      <div class="form-group">
        <label for="item" style="font-size: 30px">Item:</label>
        <input type="text" class="form-control" id="itemInput" placeholder="Ex. brand, item type, etc." name="item" style="border: 2px solid black">
      </div>
      <div class="form-group">
        <label for="description" style="font-size: 30px">Description:</label>
        <input type="text" class="form-control" id="descriptionInput" placeholder="Ex. colorway, condition, etc." name="description" style="border: 2px solid black">
      </div>
      <div class="form-group">
        <label for="size" style="font-size: 30px">Size:</label>
        <input type="text" class="form-control" id="sizeInput" placeholder="Ex. item size"name="size" style="border: 2px solid black">
      </div>
      <div class="form-group">
        <input id="imgInput" type="file" accept="image/*">
        <!-- photo icon
        <ons-button modifier="large"><ons-icon icon="camera"></ons-icon></ons-button>-->
      </div>

      <!-- Submit input 
      <input onclick="addItem()" type="submit" id="submitBtn" class="btn btn-default" value="Submit"></input> -->
      <div>
        <ons-button onclick="addItem()" id=testBt style="background-color: black; width: 100%; text-align: center;">Post</ons-button>
      </div>

      <!-- Dialog for add complete-->
      <template id="added.html">
        <ons-dialog id="my-added">
          <div style="text-align: center; padding: 10px;">
            <p>Item is added to your Closet!</p>
            <p>
              <ons-button onclick="hideAddedDialog('my-added')">X</ons-button>
            </p>
          </div>
        </ons-dialog>
      </template>

      <script>
        function hideAddedDialog(id) {
          document
          .getElementById(id)
          .hide();
        };
      </script>


  </form>
  </ons-page>
</template>

<!-- Notification-tab -->
<template id="tab3.html">
  <ons-page id="Tab3">

  <!-- Side-menu -->
  <ons-splitter>
  <ons-splitter-side id="menu2" side="left" width="220px" collapse swipeable>
    <ons-page>
      <ons-list>
        <!-- Labels on menu -->
        <ons-list-item onclick="fn.load2('borrow.html')" tappable>
          Borrow
        </ons-list-item>
        <ons-list-item onclick="fn.load2('lend.html')" tappable>
          Lend
        </ons-list-item>
        <ons-list-item onclick="fn.load2('notification.html')" tappable>
          Notification
        </ons-list-item>
      </ons-list>
    </ons-page>
  </ons-splitter-side>
  <!-- Default-page on menu -->
  <ons-splitter-content id="content2" page="notification.html"></ons-splitter-content>
</ons-splitter>

  <!-- Borrow template -->
<template id="borrow.html">
  <!-- Horizontal toolbar -->
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button onclick="fn.open2()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center" style="font-size: 150%; font-weight: bolder;">
        Borrow Item
      </div>
    </ons-toolbar>

    <!-- Contents -->

    <!-- Image for item -->
    <img src="https://www.barrow-bibas.com/14416-large_default/acne-studios-cuffed-cropped-trousers-bk0072.jpg" style="width: 100px; float: left">

    <h3 style="font-size:140%; font-weight:bold; padding:3px">Acne Studio Pant</h3>
    <h4 style="font-size:140%; text-color:light gray; padding:3px">Khaki | size: 29 | Owner: Jason</h4>
    <h4 style="font-size:140%; text-color:light gray; padding:3px">Day Left: 3</h4>
      <!-- Return and message buttons -->
    <ons-button style="background-color: black; padding: 9px" onclick="showTemplateDialog()">Return item</ons-button>
    <ons-button style="background-color: black; padding: 9px" onclick="openForm()">Message Owner</ons-button>
      
        <!-- Dialog for return button -->
  <template id="dialog.html">
  <ons-dialog id="my-dialog">
    <div style="text-align: center; padding: 10px;">
      <p>
         Return completed!
      </p>

      <p>
        <ons-button onclick="hideDialog('my-dialog')">Close</ons-button>
      </p>
    </div>
  </ons-dialog>
</template>

      <!-- Chat-popup -->
  <div style="position:absolute; bottom:0px; right:0px" class="chat-popup" id="myForm">
  <form action="/action_page.php" class="form-container">
    <h1>Chat</h1>

    <label for="msg"><b>Message</b></label>
    <textarea placeholder="Type message.." name="msg" required></textarea>

    <button type="button" class="btn">Send</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>

<!-- End borrow template -->
  </ons-page>
</template>


<!-- Lend template -->
<template id="lend.html">
  <!-- Horizontal toolbar -->
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button onclick="fn.open2()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center" style="font-size: 150%; font-weight: bolder;">
        Lend
      </div>
    </ons-toolbar>

    <!-- Contents -->

    <!-- Image for item -->
    <img src="https://blvcks.com/wp-content/uploads/2019/11/Hooded-Sweatshirt-With-5-Hearts-2_grande-600x600.jpg" style="width: 120px; float: left">

    <h3 style="font-size:140%; font-weight:bold; padding:3px">Comme des Garcons Hoodie</h3>
    <h4 style="font-size:140%; text-color:light gray; padding:3px">Gray | size: M | Owner: Kyle</h4>
    <h4 style="font-size:140%; text-color:light gray; padding:3px">Day Left: 7</h4>
      <!-- Return and message buttons -->
    <ons-button style="background-color: black; padding: 9px; float:right" onclick="showTemplateDialog()">Request item</ons-button>
    <ons-button style="background-color: black; padding: 9px; float:right" onclick="openForm()">Message User</ons-button>


    <!-- Dialog for request button -->
  <template id="dialog.html">
  <ons-dialog id="my-dialog">
    <div style="text-align: center; padding: 10px;">
      <p>
        Request completed!
      </p>

      <p>
        <ons-button onclick="hideDialog('my-dialog')">Close</ons-button>
      </p>
    </div>
  </ons-dialog>
</template>

  <!-- Chat-popup -->
  <div style="position:absolute; bottom:0px; right:0px"class="chat-popup" id="myForm">
  <form action="/action_page.php" class="form-container">
    <h1>Chat</h1>

    <label for="msg"><b>Message</b></label>
    <textarea placeholder="Type message.." name="msg" required></textarea>

    <button type="button" class="btn">Send</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>

  <!-- End lend-tab -->
  </ons-page>
</template>

<!-- Borrow template -->
<template id="notification.html">
  <!-- Horizontal toolbar -->
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button onclick="fn.open2()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center" style="font-size: 150%; font-weight: bolder;">
        Notification
      </div>
    </ons-toolbar>

    <!-- Content -->
    <!-- Notification 1 -->
    <div class="notification1">
      <p><img src="https://d3nt9em9l1urz8.cloudfront.net/media/catalog/product/cache/3/image/9df78eab33525d08d6e5fb8d27136e95/n/i/niaq2106-100.jpg" width= "175" height="175" align = "middle">Ryan has requested to borrow "Kobe Bryant Jersey"</p>
    </div>
    <!-- See item button -->
    <ons-button onclick="showNotificationDialog()">See Item</ons-button>
      <template id="notification1.html">
      <ons-dialog id="my-notification1">
        <div style="text-align: center; padding: 10px;">
          <p>
            <img src="https://d3nt9em9l1urz8.cloudfront.net/media/catalog/product/cache/3/image/9df78eab33525d08d6e5fb8d27136e95/n/i/niaq2106-100.jpg" width= "175" height="175">
            <p><b>Owner:</b> User<br>
            <b>Item:</b> Kobe Bryant Jersey<br>
            <b>Brand:</b> Lakers<br>
            <b>Description:</b> size: M, borrowed twice already</p>
          </p>
          <p>
            <ons-button onclick="hideNotificationDialog('my-notification1')">Close</ons-button>
          </p>
        </div>
      </ons-dialog>
    </template>
    <!-- Accept button -->
    <ons-button onclick="showAcceptDialog()">Accept</ons-button>
      <template id="accept.html">
        <ons-dialog id="my-accept">
          <div style="text-align: center; padding: 10px;">
            <p>Request accepted!</p>
            <p>
              <ons-button onclick="hideAcceptDialog('my-accept')">Close</ons-button>
            </p>
          </div>
        </ons-dialog>
      </template>
         <!-- Decline button -->
    <ons-button onclick="showDeclineDialog()">Decline</ons-button>
      <template id="decline.html">
        <ons-dialog id="my-decline">
          <div style="text-align: center; padding: 10px;">
            <p>Request declined!</p>
            <p>
              <ons-button onclick="hideDeclineDialog('my-decline')">Close</ons-button>
            </p>
          </div>
        </ons-dialog>
      </template>

      <!-- Notification 2 -->
    <div class="notification2">
      <p><img src="https://www.famousfootwear.com/ProductImages/shoes_ib00129.jpg?preset=details" width= "175" height="175" align = "middle">Daniel accepted your request to borrow "Black Vans"</p>
    </div>
    <!-- See item -->
    <ons-button onclick="showNotification2Dialog()">See Item</ons-button>
      <template id="notification2.html">
      <ons-dialog id="my-notification2">
        <div style="text-align: center; padding: 10px;">
          <p>
            <img src="https://www.famousfootwear.com/ProductImages/shoes_ib00129.jpg?preset=details" width= "175" height="175">
            <p><b>Owner:</b> Daniel<br>
            <b>Item:</b> Black Vans<br>
            <b>Brand:</b> Vans<br>
            <b>Description:</b> size: 8</p>
          </p>
          <p>
            <ons-button onclick="hideNotificationDialog('my-notification2')">Close</ons-button>
          </p>
        </div>
      </ons-dialog>
    </template>

  <!-- End Notificaion-tab -->
  </ons-page>
</template>
    <!-- End Notification-bottomtab -->
  </ons-page>
</template>


<!-- Profile-tab -->
<template id="tab4.html">
  <ons-page id="Tab4">

    <ons-toolbar>
      <div class="center" style="font-size: 150%; font-weight: bolder;">My Items</div>
    </ons-toolbar>

    <!-- Content -->
    

    <!-- Old items
    <ons-button onclick = "deleteItem()"><ons-icon icon="trash"></ons-icon></ons-button>

    {{#each add}}
      <div class="add">
      <h3><a href="#">{{brand}}</a></h3>
      <p>Description: {{description}}</p>
      <img src="{{imageURL}}" class="img-responsive" style="width: 200px">
      </div>
      <hr>
    {{/each}}
    <ons-button onclick="allItems()">Show Data</ons-button>-->
    <ul style='list-style: none; padding: 0'>

    </ul>
    

    <!-- End closet-tab -->
  </ons-page>
</template>
  <!-- End App template -->
  </ons-page>
</template>


<script>

  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyBMRWYBAvXadbTiM8yYHkzLNvYqg9sF2Ec",
    authDomain: "borrowing-clothes.firebaseapp.com",
    databaseURL: "https://borrowing-clothes.firebaseio.com",
    projectId: "borrowing-clothes",
    storageBucket: "gs://borrowing-clothes.appspot.com",
    messagingSenderId: "695144611565",
    appId: "1:695144611565:web:a2527d104159604e7ed6e4",
    measurementId: "G-FG3LKTNH37"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
</body>

<!-- Script to for Database Function -->
<script type="text/javascript">
const database = firebase.database();
const storage = firebase.storage();

  function addItem() {
    const item = document.getElementById('itemInput').value;
    const description = document.getElementById('descriptionInput').value;
    const size = document.getElementById('sizeInput').value;
    const imgFile = document.getElementById('imgInput').files[0];

    var data = {
      item: item,
      description: description,
      size: size,
    }

    //database.ref('closet/').remove();
    var closetRef = database.ref('borrowing-clothes/closet/');

    var key = closetRef.push(data).key;

    var uploadTask = storage.ref('images/' + key).put(imgFile);

    // Listen for state changes, errors, and completion of the upload.
uploadTask.on(firebase.storage.TaskEvent.STATE_CHANGED, // or 'state_changed'
  function(snapshot) {
    // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
    var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
    console.log('Upload is ' + progress + '% done');
    switch (snapshot.state) {
      case firebase.storage.TaskState.PAUSED: // or 'paused'
        console.log('Upload is paused');
        break;
      case firebase.storage.TaskState.RUNNING: // or 'running'
        console.log('Upload is running');
        break;
    }
  }, function(error) {

  // A full list of error codes is available at
  // https://firebase.google.com/docs/storage/web/handle-errors
  switch (error.code) {
    case 'storage/unauthorized':
      // User doesn't have permission to access the object
      break;

    case 'storage/canceled':
      // User canceled the upload
      break;

    case 'storage/unknown':
      // Unknown error occurred, inspect error.serverResponse
      console.log('Unknown error');
      break;
  }
}, function() {
  //Show added complete dialog
  var dialog = document.getElementById('my-added');

  if (dialog) {
            dialog.show();
          } else {
            ons.createElement('added.html', { append: true })
              .then(function(dialog) {
                dialog.show();
              });
          }



  //Create references
  var closetRef = database.ref('borrowing-clothes/closet/');
  //Sync object changes
  closetRef.on('value', gotData);
  
  function gotData(data) {
    
    const list = document.querySelector('ul');
    list.innerHTML = '';

    if(data.exists()) {

    var items = data.val();
    var keys = Object.keys(items);

    for (var i = 0; i < keys.length; i++) {
      var k = keys[i];
      var item = items[k].item;
      var description = items[k].description;
      var size = items[k].size;
      var img = items[k].img;

      // Create li element
      const addItem = document.createElement('li');
      addItem.id = k;
      addItem.setAttribute('style', 'white-space:pre; margin-bottom: 60px');

      // Create elements for info
      var newline = '\r\n';
      var itemDiv = document.createElement('div');
      var descriptionDiv = document.createElement('div');

      itemDiv.textContent = item + newline; 
      descriptionDiv.textContent = description + " | " + "size: " + size + newline;

      itemDiv.setAttribute('style', 'font-size:140%; font-weight:bold; padding:3px');
      
      descriptionDiv.setAttribute('style', 'font-size:140%; text-color:light gray; padding:3px');
     

      // Create img element
      const itemImg = document.createElement('img');
      var imgRef = storage.ref('images/' + k).getDownloadURL().then(function(url){
          itemImg.src = url;
      }).catch(function(error) {
            console.log('error: ' + error);
        });
      
      itemImg.setAttribute('width', '130px');
      itemImg.setAttribute('height', '170px');
      itemImg.setAttribute('style', 'float:left');

      // Create delelete button element
      var button = document.createElement('ons-button');
      button.innerHTML = 'delete';
      button.setAttribute('style', 'float:none; background-color: black; padding: 9px');

      // Create horizontal rule
      var elem = document.createElement('hr');
      elem.setAttribute('height', '100px');

  

      addItem.appendChild(itemImg);
      addItem.appendChild(itemDiv);
      addItem.appendChild(descriptionDiv);
      addItem.appendChild(button);
      addItem.appendChild(elem);

      list.appendChild(addItem);

      // Event for delete button
      button.addEventListener('click', (e) =>{
        e.stopPropagation();
        var idTG = e.target.parentNode.id;
        console.log(idTG);
        database.ref('borrowing-clothes/closet/' + idTG).remove();
        storage.ref('items/' + idTG).delete().
        then(function() {
            console.log('Delete storage completed!')
        }).catch(function(error) {
            console.log('error: ' + error);
        });
      });

      //End for-loop
      };
    //End if statement
    };
    //End gotData function
    }; 
  // End last function function 
  });
//End add function
}
</script>








<!-- Script for listing items from database to closet 
<script type="text/javascript"> -->
<script type="text/javascript">
  //Create references
  var closetRef = database.ref('borrowing-clothes/closet/');
  //Sync object changes
  closetRef.on('value', gotData);
  
  function gotData(data) {
    
    const list = document.querySelector('ul');
    list.innerHTML = '';

    if(data.exists()) {

    var items = data.val();
    var keys = Object.keys(items);

    for (var i = 0; i < keys.length; i++) {
      var k = keys[i];
      var item = items[k].item;
      var description = items[k].description;
      var size = items[k].size;
      var img = items[k].img;

      // Create li element
      const addItem = document.createElement('li');
      addItem.id = k;
      addItem.setAttribute('style', 'white-space:pre; margin-bottom: 60px');

      // Create elements for info
      var newline = '\r\n';
      var itemDiv = document.createElement('div');
      var descriptionDiv = document.createElement('div');

      itemDiv.textContent = item + newline; 
      descriptionDiv.textContent = description + " | " + "size: " + size + newline;

      itemDiv.setAttribute('style', 'font-size:140%; font-weight:bold; padding:3px');
      
      descriptionDiv.setAttribute('style', 'font-size:140%; text-color:light gray; padding:3px');
     

      // Create img element
      const itemImg = document.createElement('img');
      var imgRef = storage.ref('images/' + k).getDownloadURL().then(function(url){
          itemImg.src = url;
      }).catch(function(error) {
            console.log('error: ' + error);
        });
      
      itemImg.setAttribute('width', '130px');
      itemImg.setAttribute('height', '170px');
      itemImg.setAttribute('style', 'float:left');

      // Create delelete button element
      var button = document.createElement('ons-button');
      button.innerHTML = 'delete';
      button.setAttribute('style', 'float:none; background-color: black; padding: 9px');

  

      addItem.appendChild(itemImg);
      addItem.appendChild(itemDiv);
      addItem.appendChild(descriptionDiv);
      addItem.appendChild(button);

      list.appendChild(addItem);

      // Event for delete button
      button.addEventListener('click', (e) =>{
        e.stopPropagation();
        var idTG = e.target.parentNode.id;
        console.log(idTG);
        database.ref('borrowing-clothes/closet/' + idTG).remove();
        storage.ref().child('items/' + idTG).delete().then(function() {
            console.log('Delete storage completed!')
        }).catch(function(error) {
            console.log('error: ' + error);
        });
      });

    //End for-loop
    };
  // End if statement
  };
  //End gotData function
  };  
</script>



<script type="text/javascript">
  //for profile- borrow, lend dialogs  
var showTemplateDialog = function() {
  var dialog = document.getElementById('my-dialog');

  if (dialog) {
    dialog.show();
  } else {
    ons.createElement('dialog.html', { append: true })
      .then(function(dialog) {
        dialog.show();
      });
  }
};

var hideDialog = function(id) {
  document
    .getElementById(id)
    .hide();
  };

// For pop-up chat
var openForm = function() {
  document.getElementById("myForm").style.display = "block";
};

var closeForm = function() {
  document.getElementById("myForm").style.display = "none";
};

// For Log-in modal on home-tab
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

</script>

    <!-- Notification -->
    <script type="text/javascript">
        var showNotificationDialog = function() {
          var dialog = document.getElementById('my-notification1');

          if (dialog) {
            dialog.show();
          } else {
            ons.createElement('notification1.html', { append: true })
              .then(function(dialog) {
                dialog.show();
              });
          }
        };
        var showNotification2Dialog = function() {
          var dialog2 = document.getElementById('my-notification2');

          if (dialog2) {
            dialog2.show();
          } else {
            ons.createElement('notification2.html', { append: true })
              .then(function(dialog) {
                dialog.show();
              });
          }
        };
        var hideNotificationDialog = function(id) {
          document
            .getElementById(id)
            .hide();
        };
        </script>

    <!-- Accept -->
    <script type="text/javascript">
        var showAcceptDialog = function() {
      var dialog = document.getElementById('my-accept');
      if (dialog) {
        dialog.show();
      } else {
        ons.createElement('accept.html', { append: true })
          .then(function(dialog) {
            dialog.show();
          });
      }
    };
    var hideAcceptDialog = function(id) {
      document
        .getElementById(id)
        .hide();
    };
    </script>

    <!-- Decline -->
    <script type="text/javascript">
        var showDeclineDialog = function() {
      var dialog = document.getElementById('my-decline');
      if (dialog) {
        dialog.show();
      } else {
        ons.createElement('decline.html', { append: true })
          .then(function(dialog) {
            dialog.show();
          });
      }
    };
    var hideDeclineDialog = function(id) {
      document
        .getElementById(id)
        .hide();
    };
    </script>

    <!-- Borrow -->
    <script type="text/javascript">
        var showBorrowDialog = function() {
      var dialog = document.getElementById('my-borrow');
      if (dialog) {
        dialog.show();
      } else {
        ons.createElement('borrow.html', { append: true })
          .then(function(dialog) {
            dialog.show();
          });
      }
    };
    var hideBorrowDialog = function(id) {
      document
        .getElementById(id)
        .hide();
    };
    </script>

<!-- For Home-tab items -->
<script type="text/javascript">
//For item 1
var showItem1Dialog = function() {
  var dialog = document.getElementById('my-item1');

  if (dialog) {
            dialog.show();
          } else {
            ons.createElement('item1.html', { append: true })
              .then(function(dialog) {
                dialog.show();
              });
          }
};
var hideItem1Dialog = function(id) {
      document
        .getElementById(id)
        .hide();
    };

//For request 1
var showRequest1Dialog = function() {
  var dialog = document.getElementById('my-request1');

  if (dialog) {
            dialog.show();
          } else {
            ons.createElement('request1.html', { append: true })
              .then(function(dialog) {
                dialog.show();
              });
          }
};
var hideRequest1Dialog = function(id) {
      document
        .getElementById(id)
        .hide();
    };

//For item 2
var showItem2Dialog = function() {
  var dialog = document.getElementById('my-item2');

  if (dialog) {
            dialog.show();
          } else {
            ons.createElement('item2.html', { append: true })
              .then(function(dialog) {
                dialog.show();
              });
          }
};
var hideItem2Dialog = function(id) {
      document
        .getElementById(id)
        .hide();
    };

//For request 2
var showRequest2Dialog = function() {
  var dialog = document.getElementById('my-request2');

  if (dialog) {
            dialog.show();
          } else {
            ons.createElement('request2.html', { append: true })
              .then(function(dialog) {
                dialog.show();
              });
          }
};
var hideRequest2Dialog = function(id) {
      document
        .getElementById(id)
        .hide();
    };

//For item 3
var showItem3Dialog = function() {
  var dialog = document.getElementById('my-item3');

  if (dialog) {
            dialog.show();
          } else {
            ons.createElement('item3.html', { append: true })
              .then(function(dialog) {
                dialog.show();
              });
          }
};
var hideItem3Dialog = function(id) {
      document
        .getElementById(id)
        .hide();
    };

//For request 3
var showRequest3Dialog = function() {
  var dialog = document.getElementById('my-request3');

            if (dialog) {
            dialog.show();
          } else {
            ons.createElement('request3.html', { append: true })
              .then(function(dialog) {
                dialog.show();
              });
          }
};
var hideRequest3Dialog = function(id) {
      document
        .getElementById(id)
        .hide();
    };

//For Item 4
var showItem4Dialog = function() {
  var dialog = document.getElementById('my-item4');

  if (dialog) {
            dialog.show();
          } else {
            ons.createElement('item4.html', { append: true })
              .then(function(dialog) {
                dialog.show();
              });
          }
};
var hideItem4Dialog = function(id) {
      document
        .getElementById(id)
        .hide();
    };

//For request 4
var showRequest4Dialog = function() {
  var dialog = document.getElementById('my-request4');

            if (dialog) {
            dialog.show();
          } else {
            ons.createElement('request4.html', { append: true })
              .then(function(dialog) {
                dialog.show();
              });
          }
};
var hideRequest4Dialog = function(id) {
      document
        .getElementById(id)
        .hide();
    };

//For Item 5
var showItem5Dialog = function() {
  var dialog = document.getElementById('my-item5');

  if (dialog) {
            dialog.show();
          } else {
            ons.createElement('item5.html', { append: true })
              .then(function(dialog) {
                dialog.show();
              });
          }
};
var hideItem5Dialog = function(id) {
      document
        .getElementById(id)
        .hide();
    };

//For request 5
var showRequest5Dialog = function() {
  var dialog = document.getElementById('my-request5');

            if (dialog) {
            dialog.show();
          } else {
            ons.createElement('request5.html', { append: true })
              .then(function(dialog) {
                dialog.show();
              });
          }
};
var hideRequest5Dialog = function(id) {
      document
        .getElementById(id)
        .hide();
    };

// For Item 6
var showItem6Dialog = function() {
  var dialog = document.getElementById('my-item6');

  if (dialog) {
            dialog.show();
          } else {
            ons.createElement('item6.html', { append: true })
              .then(function(dialog) {
                dialog.show();
              });
          }
};
var hideItem6Dialog = function(id) {
      document
        .getElementById(id)
        .hide();
    };

//For request 6
var showRequest6Dialog = function() {
  var dialog = document.getElementById('my-request6');

            if (dialog) {
            dialog.show();
          } else {
            ons.createElement('request6.html', { append: true })
              .then(function(dialog) {
                dialog.show();
              });
          }
};
var hideRequest6Dialog = function(id) {
      document
        .getElementById(id)
        .hide();
    };

//For Item 7
var showItem7Dialog = function() {
  var dialog = document.getElementById('my-item7');

  if (dialog) {
            dialog.show();
          } else {
            ons.createElement('item7.html', { append: true })
              .then(function(dialog) {
                dialog.show();
              });
          }
};
var hideItem7Dialog = function(id) {
      document
        .getElementById(id)
        .hide();
    };

//For request 7
var showRequest6Dialog = function() {
  var dialog = document.getElementById('my-request6');

            if (dialog) {
            dialog.show();
          } else {
            ons.createElement('request6.html', { append: true })
              .then(function(dialog) {
                dialog.show();
              });
          }
};
var hideRequest7Dialog = function(id) {
      document
        .getElementById(id)
        .hide();
    };

//For Item 8
var showItem8Dialog = function() {
  var dialog = document.getElementById('my-item8');

  if (dialog) {
            dialog.show();
          } else {
            ons.createElement('item8.html', { append: true })
              .then(function(dialog) {
                dialog.show();
              });
          }
};
var hideItem8Dialog = function(id) {
      document
        .getElementById(id)
        .hide();
    };

//For request 8
var showRequest8Dialog = function() {
  var dialog = document.getElementById('my-request8');

            if (dialog) {
            dialog.show();
          } else {
            ons.createElement('request8.html', { append: true })
              .then(function(dialog) {
                dialog.show();
              });
          }
};
var hideRequest8Dialog = function(id) {
      document
        .getElementById(id)
        .hide();
    };

//For Item 9
var showItem9Dialog = function() {
  var dialog = document.getElementById('my-item9');

  if (dialog) {
            dialog.show();
          } else {
            ons.createElement('item9.html', { append: true })
              .then(function(dialog) {
                dialog.show();
              });
          }
};
var hideItem9Dialog = function(id) {
      document
        .getElementById(id)
        .hide();
    };

//For request 9
var showRequest9Dialog = function() {
  var dialog = document.getElementById('my-request9');

            if (dialog) {
            dialog.show();
          } else {
            ons.createElement('request9.html', { append: true })
              .then(function(dialog) {
                dialog.show();
              });
          }
};
var hideRequest9Dialog = function(id) {
      document
        .getElementById(id)
        .hide();
    };
</script>

</html>