<!DOCTYPE html>
<html>
<head>
  <title> Cloth Borrowing App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/login.css" rel="stylesheet">
  <link href="css/notification.css" rel="stylesheet">
  <link href="css/onsenui.css" rel="stylesheet">
  <link href="css/onsen-css-components.css" rel="stylesheet">
  <link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<script src="js/onsenui.js"></script>
  <script src="js/jquery-1.11.0.js"></script>
  <script src="js/bootstrap.js"></script>
</head>
<body>
  
<!-- Tabbar bottom -->
<ons-page>
  <ons-tabbar swipeable position="auto">
    <ons-tab page="tab1.html" label="Home" icon="md-home" active></ons-tab>

    <ons-tab page="tab2.html" label="Add" icon="md-plus"></ons-tab>

    <ons-tab page="tab3.html" label="Notification" icon="md-notifications"></ons-tab>
    
    <ons-tab page="tab4.html" label="Profile" icon="md-face"></ons-tab>
  </ons-tabbar>
</ons-page>

<!-- Home-tab -->
<template id="tab1.html">
  <ons-page id="Tab1">
  	<!-- Tool-bar for categories 
    <ons-toolbar>
    <div class="left">
    	<ons-toolbar-button style="color: gray">Footwear</ons-toolbar-button>
    </div>
    <div class="right">
    	<ons-toolbar-button style="color: gray">Apparel</ons-toolbar-button>
    </div>
  </ons-toolbar>--> 

  <ons-splitter>
  <ons-splitter-side id="menu" side="left" width="220px" collapse swipeable>
    <ons-page>
      <ons-list>
        <ons-list-item onclick="fn.load1('apparel.html')" tappable>
          Apparel
        </ons-list-item>
        <ons-list-item onclick="fn.load1('footwear.html')" tappable>
          Footwear
        </ons-list-item>
      </ons-list>
    </ons-page>
  </ons-splitter-side>
  <ons-splitter-content id="content" page="footwear.html"></ons-splitter-content>
</ons-splitter>

<template id="footwear.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button onclick="fn.open1()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">
        Footwear
      </div>
    </ons-toolbar>

    <!--Search Bar-->
    <div class="center">
      <p style="text-align: center; margin-top: 10px;">
        <form id="searchShoesForm" role="form" method="get" action="/searchshoes">
            <h3>Search for a brand!</h3>
            <div class="form-group">
              <label for="brand">Brand:</label>
              <input type="text" class="form-control" id="brand" placeholder="Brand" name="brand">
             </div>
        </form>
      </p>
    </div>
    <h1>Sneakers</h1>
    {{#each shoes}}
      <div class="search">
      <p><img src="{{imageURL}}" width= "175" height="175"><br>
        <b>Owner:</b> {{owner}}<br>
        <b>Item:</b> {{item}}<br>
        <b>Brand:</b> {{brand}}<br>
        <b>Description:</b> {{description}}
      </p>
      <ons-button onclick="showBorrowDialog()">Borrow Item</ons-button>
          <template id="borrow.html">
          <ons-dialog id="my-borrow">
            <div style="text-align: center; padding: 10px;">
              <p>Borrow requested!</p>
              <p>
                <ons-button onclick="hideNotificationDialog('my-borrow')">Close</ons-button>
              </p>
            </div>
          </ons-dialog>
        </template>
      </div>
    {{/each}}
    

  </ons-page>
</template>
<!-- Apparel -->
<template id="apparel.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button onclick="fn.open1()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">
        Apparel
      </div>
      <div class = "right">
        <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>

        <div id="id01" class="modal">
          
          <form class="modal-content animate" action="/action_page.php" method="post">
            <div class="imgcontainer">
              <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            </div>

            <div class="container">
              <label for="uname" style="position: left;"><b>Username</b></label> <br>
              <input type="text" placeholder="Enter Username" name="uname" required><br>

              <label for="psw"><b>Password</b></label> <br>
              <input type="password" placeholder="Enter Password" name="psw" required>
                <br>
             <input type = "button" onclick="document.getElementById('id01').style.display='none'" value="Login"/> <br>
            </div>
          </form>
        </div>

      </div>
    </ons-toolbar>

    <!--Search Bar-->
    <div class="center">
      <p style="text-align: center; margin-top: 10px;">
        <form id="searchShoesForm" role="form" method="get" action="/searchClothes">
            <h3>Search for a brand!</h3>
            <div class="form-group">
              <label for="brand">Brand:</label>
              <input type="text" class="form-control" id="brand" placeholder="Brand" name="brand">
             </div>
        </form>
      </p>
    </div>

      <h style="text-align: left;">Tops</h>
    <div class="scrollmenu">
      <a href="#item1">Item 1</a>
      <a href="#item2">Item 2</a>
      <a href="#item3">Item 3</a>
    </div>
    <h style="text-align: left;">Bottoms</h>
    <div class="scrollmenu">
      <a href="#item1">Item 1</a>
      <a href="#item2">Item 2</a>
      <a href="#item3">Item 3</a>
    </div>
    <h style="text-align: left;">Outerwear</h>
    <div class="scrollmenu">
      <a href="#item1">Item 1</a>
      <a href="#item2">Item 2</a>
      <a href="#item3">Item 3</a>
    </div>
  </ons-page>
</template>
    
  </ons-page>
</template>

<!-- Add-tab -->
<template id="tab2.html">
  <ons-page id="Tab2">
    <form id="addItemForm" role="form" method="get" action="/add">
    <h3>Post an Item</h3>
      <div class="form-group">
        <label for="brand">Brand:</label>
        <input type="text" class="form-control" id="brand" placeholder="Ex. Aime Leon Dore" name="brand">
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" class="form-control" id="description" placeholder="Ex. Type, size, condition,..." name="description">
      </div>
      <ons-button modifier="large"><ons-icon icon="camera"></ons-icon></ons-button>
      <input type="submit" id="submitBtn" class="btn btn-default" value="Submit"></input>
  </form>
  </ons-page>
</template>

<!-- Notification-tab -->
<template id="tab3.html">
  <ons-page id="Tab3">
    <ons-toolbar>
	    <div class="center">Notifications</div>
 	  </ons-toolbar>
    <!-- Notification 1 -->
    <div class="notification1">
  		<p><img src="https://d3nt9em9l1urz8.cloudfront.net/media/catalog/product/cache/3/image/9df78eab33525d08d6e5fb8d27136e95/n/i/niaq2106-100.jpg" width= "175" height="175" align = "middle">Ryan has requested to borrow "Kobe Bryant Jersey"</p>
  	</div>
    <!-- See item -->
    <ons-button onclick="showNotificationDialog()">See Item</ons-button>
      <template id="notification1.html">
      <ons-dialog id="my-notification1">
        <div style="text-align: center; padding: 10px;">
          <p>
            <img src="https://d3nt9em9l1urz8.cloudfront.net/media/catalog/product/cache/3/image/9df78eab33525d08d6e5fb8d27136e95/n/i/niaq2106-100.jpg" width= "175" height="175">
            <p><b>Owner:</b> User<br>
            <b>Item:</b> Kobe Bryant Jersey<br>
            <b>Brand:</b> Lakers<br>
            <b>Description:</b> size: M, borrowed twice already</p>
          </p>
          <p>
            <ons-button onclick="hideNotificationDialog('my-notification1')">Close</ons-button>
          </p>
        </div>
      </ons-dialog>
    </template>
    <!-- Accept button -->
    <ons-button onclick="showAcceptDialog()">Accept</ons-button>
      <template id="accept.html">
        <ons-dialog id="my-accept">
          <div style="text-align: center; padding: 10px;">
            <p>Request accepted!</p>
            <p>
              <ons-button onclick="hideAcceptDialog('my-accept')">Close</ons-button>
            </p>
          </div>
        </ons-dialog>
      </template>
         <!-- Decline button -->
    <ons-button onclick="showDeclineDialog()">Decline</ons-button>
      <template id="decline.html">
        <ons-dialog id="my-decline">
          <div style="text-align: center; padding: 10px;">
            <p>Request declined!</p>
            <p>
              <ons-button onclick="hideDeclineDialog('my-decline')">Close</ons-button>
            </p>
          </div>
        </ons-dialog>
      </template>

      <!-- Notification 2 -->
    <div class="notification2">
      <p><img src="https://www.famousfootwear.com/ProductImages/shoes_ib00129.jpg?preset=details" width= "175" height="175" align = "middle">Daniel accepted your request to borrow "Black Vans"</p>
    </div>
    <!-- See item -->
    <ons-button onclick="showNotification2Dialog()">See Item</ons-button>
      <template id="notification2.html">
      <ons-dialog id="my-notification2">
        <div style="text-align: center; padding: 10px;">
          <p>
            <img src="https://www.famousfootwear.com/ProductImages/shoes_ib00129.jpg?preset=details" width= "175" height="175">
            <p><b>Owner:</b> Daniel<br>
            <b>Item:</b> Black Vans<br>
            <b>Brand:</b> Vans<br>
            <b>Description:</b> size: 8</p>
          </p>
          <p>
            <ons-button onclick="hideNotificationDialog('my-notification2')">Close</ons-button>
          </p>
        </div>
      </ons-dialog>
    </template>

  </ons-page>
</template>

<!-- Profile-tab -->
<template id="tab4.html">
  <ons-page id="Tab4">
<!--
  <div class="header">
  		<a  style="border-bottom: 2px solid black"href="#item1">Borrow 4</a>
  		<a href="#item2">Lend 0</a>
  		<a href="#item3">Closet</a>
  </div>

  <ons-toolbar>
    <div class="left">
    	<ons-toolbar-button style="color: gray">100c</ons-toolbar-button>
    </div>
    <div class="center">
    	<ons-toolbar-button style="color: gray">Name</ons-toolbar-button>
    </div>
    <div class="right">
    	<ons-toolbar-button style="color: gray" icon="fa-cog"></ons-toolbar-button>
    </div>
  </ons-toolbar>

  <ons-tabbar positions="top">
      <ons-tab page="borrowTab.html" label="Borrow" active="true"></ons-tab>
      <ons-tab page="page2.html" label="Lend"></ons-tab>
      <ons-tab page="page3.html" label="Closet"></ons-tab>
  </ons-tabbar>

<ons-template id="borrowTab.html">
  <on-page id="borrowTab">
  <div class="borrow1">
      <a style= "background-color: lightgray" href="#item1">Item 1</a>
      <a style= "text-align: left" href="#item2">Brand <br>Owner <br> return | extend | massage</a>
      <a href="#item3">2 Days<br> Left</a>
  </div>

  <div class="borrow2">
      <a style= "background-color: lightgray" href="#item1">Item 2</a>
      <a style= "text-align: left" href="#item2">Brand <br>Owner <br> return | extend | massage</a>
      <a href="#item3">1 Day<br> Left</a>
  </div>

  <div class="borrow3">
      <a style= "background-color: lightgray" href="#item1">Item 3</a>
      <a style= "text-align: left" href="#item2">Brand <br>Owner <br> return | extend | massage</a>
      <a href="#item3">3 Days<br> Left</a>
  </div>

  <div class="borrow4">
      <a style= "background-color: lightgray" href="#item4">Item 2</a>
      <a style= "text-align: left" href="#item2">Brand <br>Owner <br> return | extend | massage</a>
      <a href="#item3">5 Days<br> Left</a>
  </div>
  </on-page>
</ons-template>
-->
<ons-splitter>
  <ons-splitter-side id="menu2" side="left" width="220px" collapse swipeable>
    <ons-page>
      <ons-list>
        <ons-list-item onclick="fn.load('borrow.html')" tappable>
          Borrow
        </ons-list-item>
        <ons-list-item onclick="fn.load('lend.html')" tappable>
          Lend
        </ons-list-item>
        <ons-list-item onclick="fn.load('closet.html')" tappable>
          Closet
        </ons-list-item>
      </ons-list>
    </ons-page>
  </ons-splitter-side>
  <ons-splitter-content id="content2" page="borrow.html"></ons-splitter-content>
</ons-splitter>

<template id="borrow.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button onclick="fn.open()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">
        Borrow
      </div>
    </ons-toolbar>

    <h1>Borrow Item</h1>
    <h3>Brand: Acne Studio</h3>
    <h4>Owner: Jason</h4>
    <h4>Day Left: 3</h4>
    <ons-button onclick="showTemplateDialog()">Return item</ons-button>
    <ons-button onclick="openForm()">Message Owner</ons-button>
    <img src="https://www.barrow-bibas.com/14416-large_default/acne-studios-cuffed-cropped-trousers-bk0072.jpg" style="width: 100px">

  <template id="dialog.html">
  <ons-dialog id="my-dialog">
    <div style="text-align: center; padding: 10px;">
      <p>
         Return completed!
      </p>

      <p>
        <ons-button onclick="hideDialog('my-dialog')">Close</ons-button>
      </p>
    </div>
  </ons-dialog>
</template>

  <div class="chat-popup" id="myForm">
  <form action="/action_page.php" class="form-container">
    <h1>Chat</h1>

    <label for="msg"><b>Message</b></label>
    <textarea placeholder="Type message.." name="msg" required></textarea>

    <button type="button" class="btn">Send</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>

  </ons-page>
</template>

<template id="lend.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button onclick="fn.open()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">
        Lend
      </div>
    </ons-toolbar>

    <h1>Lend Item</h1>
    <h3>Brand: Comme des Garcons</h3>
    <h4>User: Kyle</h4>
    <h4>Day Left: 3</h4>
    <ons-button onclick="showTemplateDialog()">Request item</ons-button>
    <ons-button onclick="openForm()">Message user</ons-button>
    <img src=https://blvcks.com/wp-content/uploads/2019/11/Hooded-Sweatshirt-With-5-Hearts-2_grande-600x600.jpg style="width: 100px">

  <template id="dialog.html">
  <ons-dialog id="my-dialog">
    <div style="text-align: center; padding: 10px;">
      <p>
        Request completed!
      </p>

      <p>
        <ons-button onclick="hideDialog('my-dialog')">Close</ons-button>
      </p>
    </div>
  </ons-dialog>
</template>

  <div class="chat-popup" id="myForm">
  <form action="/action_page.php" class="form-container">
    <h1>Chat</h1>

    <label for="msg"><b>Message</b></label>
    <textarea placeholder="Type message.." name="msg" required></textarea>

    <button type="button" class="btn">Send</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>

  </ons-page>
</template>

<template id="closet.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button onclick="fn.open()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">
        Closet
      </div>
    </ons-toolbar>
    <h1>My Item</h1>
    {{#each add}}
      <div class="add">
      <h3><a href="#">{{brand}}</a></h3>
      <p>Description: {{description}}</p>
      <ons-button><ons-icon icon="trash"></ons-icon></ons-button>
      <img src="{{imageURL}}" class="img-responsive" style="width: 200px">
      </div>
      <hr>
    {{/each}}
  </ons-page>
</template>

  </ons-page>
</template>


</body>

<script type="text/javascript">
  //for dialog return 
var showTemplateDialog = function() {
  var dialog = document.getElementById('my-dialog');

  if (dialog) {
    dialog.show();
  } else {
    ons.createElement('dialog.html', { append: true })
      .then(function(dialog) {
        dialog.show();
      });
  }
};

var hideDialog = function(id) {
  document
    .getElementById(id)
    .hide();
  };

var openForm = function() {
  document.getElementById("myForm").style.display = "block";
};

var closeForm = function() {
  document.getElementById("myForm").style.display = "none";
};

var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
function check(form)
    {
      if(form.uname.value == "cogs" && form.psw.value =="120"){
        login.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
      }
      else{
        alert("the username and password you entered do not match")
      }
    }
    
</script>
    <!-- Notification -->
    <script type="text/javascript">
        var showNotificationDialog = function() {
          var dialog = document.getElementById('my-notification1');

          if (dialog) {
            dialog.show();
          } else {
            ons.createElement('notification1.html', { append: true })
              .then(function(dialog) {
                dialog.show();
              });
          }
        };
        var showNotification2Dialog = function() {
          var dialog2 = document.getElementById('my-notification2');

          if (dialog2) {
            dialog2.show();
          } else {
            ons.createElement('notification2.html', { append: true })
              .then(function(dialog) {
                dialog.show();
              });
          }
        };
        var hideNotificationDialog = function(id) {
          document
            .getElementById(id)
            .hide();
        };
        </script>

    <!-- Accept -->
    <script type="text/javascript">
        var showAcceptDialog = function() {
      var dialog = document.getElementById('my-accept');
      if (dialog) {
        dialog.show();
      } else {
        ons.createElement('accept.html', { append: true })
          .then(function(dialog) {
            dialog.show();
          });
      }
    };
    var hideAcceptDialog = function(id) {
      document
        .getElementById(id)
        .hide();
    };
    </script>

    <!-- Decline -->
    <script type="text/javascript">
        var showDeclineDialog = function() {
      var dialog = document.getElementById('my-decline');
      if (dialog) {
        dialog.show();
      } else {
        ons.createElement('decline.html', { append: true })
          .then(function(dialog) {
            dialog.show();
          });
      }
    };
    var hideDeclineDialog = function(id) {
      document
        .getElementById(id)
        .hide();
    };
    </script>
    <!-- Borrow -->
    <script type="text/javascript">
        var showBorrowDialog = function() {
      var dialog = document.getElementById('my-borrow');
      if (dialog) {
        dialog.show();
      } else {
        ons.createElement('borrow.html', { append: true })
          .then(function(dialog) {
            dialog.show();
          });
      }
    };
    var hideBorrowDialog = function(id) {
      document
        .getElementById(id)
        .hide();
    };
    </script>

</html>